
@{
    ViewBag.Title = "PolicyTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    h6.yuoty {
        background: #2b59a5;
        font-size: 4px;
        border-bottom: 1px solid #4c4a4a;
        border-top: 1px solid #4c4a4a;
        margin-top: 0rem;
        position: absolute;
        z-index: 999999;
        margin-bottom: 0;
        width: 100%;
        top: 97px;
        color: #2b59a5;
    }
    .cd-main-content {
        display: none;
    }


    #sidebar5 {
        display: none;
    }
    body {
        background: #ffffff !important;
    }

        main {
        margin: 0px auto !important;
        position: relative;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #6f6f6f;
        text-align: justify;
        position: relative;
        top: 7rem;
        margin-bottom: 9rem !important;
    }

    footer {
        position: relative !important;
        margin: 0px !important;
    }
    /*#logot img{
        width:100%;
    }*/
    /*body{
        margin:0px;
        padding:0px;
    }*/
    /*#navbar li a {
        color:#fff;
    }
    #navbar {
        background: #0f72c8;
        color: #fff;
        position: relative;
    }*/
</style>



<link href="~/Resources/css/policy.css" rel="stylesheet" />



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<style>
    #shoes {
        display: none; /* hide by default */
    }

        #shoes:target, /* and show either if class show is present (on click) */
        #shoes.show { /* or location hash matches id "shoes" */
            display: block;
        }


    #foot {
        display: none; /* hide by default */
    }

        #foot:target, /* and show either if class show is present (on click) */
        #foot.show { /* or location hash matches id "shoes" */
            display: block;
        }


    #Disclaimer {
        display: none; /* hide by default */
    }

        #Disclaimer:target, /* and show either if class show is present (on click) */
        #Disclaimer.show { /* or location hash matches id "shoes" */
            display: block;
        }



    #refund {
        display: none; /* hide by default */
    }

        #refund:target, /* and show either if class show is present (on click) */
        #refund.show { /* or location hash matches id "shoes" */
            display: block;
        }

    .product h3 {
        text-align: center;
        color: #333;
    }

        .product h3 span {
            border-bottom: 2px solid #0b72a7;
            color: #0b72a7;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
        }

    .product h5 {
        text-align: left;
        color: #333;
        font-weight: bold;
    }

        .product h5 span {
            border-bottom: 1px solid #0b72a7;
            color: #0b72a7;
            font-weight: bold;
            text-transform: uppercase;
        }

    header {
        position: relative;
    }

    .foklutyheight {
        transition-duration: 0.6s;
        position: relative;
    }
</style>


<h6 class="yuoty">********</h6>
<main>


    <div class="product" id="shoes">
        <h3><span>Terms & Conditions</span></h3>
        This document contains the rules, regulations, policies, agreement and terms and conditions (“T&Cs”) applicable to any person who may access or use www.checkyourpremium.com (“Website”), any subdomains, webpages or extension of the Website. The T&Cs has been prepared in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries Guidelines) Rules, 2011 (“Rules”) which requires publishing the rules and regulations, privacy policy and user agreement for access or usage of the Website. The T&Cs for the use of the Website, as set out hereunder is an electronic record as per the provisions of Information Technology Act, 2000 read with the Rules thereunder, as may be applicable and amended from time to time.<br /><br />


        The Website is owned by Check Your Premium Insurance Web Aggregator Private Limited (“Check Your Premium”) which provides an online platform that is engaged in the business of insurance aggregation.<br /><br />
        By visiting the Website, you (hereinafter to be referred to as the “User”) accept the T&Cs as mentioned herein and the User is aware and accepts that the T&Cs are subject to amendments/modifications. In case the User disagrees with any of the T&Cs or any part thereof, the User shall refrain from using the Website. It is advisable to read all the T&Cs carefully before using the Website.<br /><br />


        <h5>
            <span>
                Acceptable use
            </span>
        </h5>

        The User shall not share, submit, reveal, post or publish on this Website any proprietary or confidential information of any third party without our prior written consent. The User shall not use the Website in any way that causes, or may cause, damage to the Website or impairment of the availability or accessibility of the Website; or in any way which is unlawful, illegal, fraudulent or harmful activity.<br /><br />
        The User shall not use the Website to advertise or offer to make a sale (buying and/or selling) of goods or services or conduct any contest through or in relation to the Website or Check Your Premium.<br /><br />


        In the event, the User provides any information that is untrue, inaccurate, not current, incomplete or in the event we have reasonable grounds to deduce that the information shared by the User with us is untrue, inaccurate, not current, incomplete, or not in accordance with the T&Cs. We reserve the right to indefinitely suspend or terminate or block the use or access by the User of the Website in any manner whatsoever.<br /><br />

        <h5>
            <span>
                Downloading of material
            </span>
        </h5>
        Check Your Premium does not guarantee or warrant that files available for downloading through the Website will be free of viruses or other harmful computer code, files or programs.<br /><br />


        <h5>
            <span>
                As is Basis
            </span>
        </h5>
        The User agrees and acknowledges that Check Your Premium acts as an aggregator, the products and information on the Website available is of partner insurers on an “As is” basis without any warranty or condition, express, implied or statutory. We does not make any representation or warranty as to the attributes of any of the listed insurance policies. We shall not be liable in any manner whatsoever for the transaction between the User and the insurance provider. The User is advised to use its best judgment and independently verify the bona fides of any particular party that the User may choose to deal with on the Website.<br /><br />


        <h5>
            <span>
                Refund policy
            </span>
        </h5>
        We shall not be responsible in any manner whatsoever for return, refund and cancellation or the payment or the charges incurred by the User in availing any insurance policy through the Website. The User is aware that Check Your Premium is neither acting as trustee nor acting in a fiduciary capacity with respect to the transaction or the payment. The User further agrees and acknowledges that Check Your Premium is only a facilitator of information and have no interest in the payment and transaction to be carried between the User and insurance provider. All the disputes regarding payments shall be routed to the insurance provider only.<br /><br />


        <h5>
            <span>
                Limitation of Liability
            </span>
        </h5>
        The User is aware that the Check Your premium simply facilitates the partner insurers to display the products (which includes various insurance policies and schemes as approved by IRDAI) on the Website and provides the User with an opportunity to purchase the products listed by the insurance providers on the Website. Check Your Premium at no point of time owns the products listed on the Website and Check Your Premium, its associate, affiliates, and technology partners make no representations or warranties about the accuracy, reliability, completeness of any content, information, error free and/or uninterrupted services, software, text, graphics, links or communications provided on or through the use or operation of the Website. Check Your Premium assumes no liability whatsoever for any monetary loss or other damage suffered by the User on account of delay or interruption, or corruption of any data or other information transmitted in connection with use or operation of the Website.<br /><br />


        <h5>
            <span>
                Confidentiality and Privacy
            </span>
        </h5>
        We understands the importance and confidentiality of the information shared by the User with the Website. We have created the Privacy Policy which can be accessed at the section ‘Privacy Policy”.<br /><br />

        <h5>
            <span>
                Intellectual Property Rights
            </span>
        </h5>
        Check Your Premium retains all right, title and interest in intellectual property and proprietary rights of the Website.<br /><br />


        <h5>
            <span>
                Proprietary Information
            </span>
        </h5>
        The User agrees and acknowledges that all data provided on the Website, including and not limited to all software information, electronic and printed media, contained copyrighted materials, logos, registered trademarks, trade secrets, patent related materials and other proprietary intellectual property are the proprietary assets of Check Your Premium. They are protected by copyright, trade secret, patent laws and other proprietary rights and laws, and they may only be used or accessed otherwise than, as specifically provided for, in the T&C. User shall not re-distribute or re-publish any content from the Website without the express written consent.<br /><br />


        <h5>
            <span>
                Protection of Proprietary Information
            </span>
        </h5>
        The User agrees that it will not store, copy, modify, rent, lease, loan, sell, distribute, transfer, transmit, display, reverse-engineer, reverse-assemble, or otherwise attempt to discover any programming code or any source code used in the Website. The User shall not otherwise attempt to transfer any right in the Website (which includes its software, design and content), create derivative works based on it or in any manner commercially exploit the Website in whole or in part. The User agrees that any violation, of these copyrights, trade secrets, patents, other intellectual property protections or the T&C will lead to prosecution under the Indian Laws.<br /><br />
        <h5>
            <span>User generated content</span>
        </h5>
        Check Your Premium reserves the right to edit or remove any material submitted to the Website, or stored on the servers, or hosted or published upon the Website without prior notice or explanation. In the T&Cs, “User generated content" means material (including without limitation text, images, audio material, video material and audio-visual material) that the User submits on the Website, for the Purpose.<br /><br />
        The User generated content must not be defamatory, vulgar, obscene, offensive, libelous, slanderous or illegal or unlawful in any way and must not infringe any third party's rights, and must not be capable of giving rise to legal action whether against the User or Check Your Premium or a third party (in each case under any applicable law).<br /><br />
        The User shall not submit any User generated content on the Website that is or has ever been the subject of any threat or actual legal proceedings or other similar complaint.<br /><br />
        Notwithstanding our rights under the T&Cs in relation to User generated content, Check Your Premium do not undertake to monitor the submission of such content to, or the publication of such content on, the Website.<br /><br />
        <h5>
            <span>
                Cookies
            </span>
        </h5>
        A cookie is a small data file stored on User’s computer or mobile device. It holds enough data on the User to customize the Website to that of the User’s preference. Cookies may retain log-in information, save preferences, and even direct the user to the spot where the User have last browsed. The User may enable the Cookies within the browser or indicate preferences in the setting section on the mobile devices. Since the Cookies contain privacy implication, the use is governed by the Privacy Policy.<br /><br />


        <h5>
            <span>
                Privacy and ownership of information
            </span>
        </h5>
        Unless otherwise expressly set forth herein, by submitting any information, communication or material the User may transmit to the Website including data, questions, comments, or suggestions will be treated as non-confidential and non-proprietary and will automatically become the property of Check Your Premium and the User shall be dealt to grant proprietary rights in such information, communication or material including but not limited to intellectual property rights under any relevant jurisdiction.<br /><br />


        Such information, communication or material may be used (subject to the Privacy Policy) for any purpose, including, but not limited to, reproduction, solicitations, disclosure, transmission, publication, broadcast, and posting. Furthermore, Check Your Premium is free to use any ideas, concepts, know-how, or techniques contained in any communication that the User may send to the Website for any lawful purpose whatsoever, including, but not limited to, developing and marketing products using such information.<br /><br />


        <h5>
            <span>Indemnity</span>
        </h5>
        The User agrees to defend, indemnify and hold harmless Check Your Premium, its affiliate, partner insurers, service providers, service partners and their respective officers, directors, employees and representatives from any and all claims arising out of the breach of any of the T&C by the User.<br /><br />


        <h5>
            <span>
                External Links
            </span>
        </h5>
        The Website may link the User to other web sites or information, software data or other contents, on or off the internet. Check Your Premium does not control, endorse or review the content of these sites, and we shall not be responsible for such content.<br /><br />


        <h5>
            <span>
                Fitness of the e-portal
            </span>
        </h5>
        The User shall remain fully and solely responsible for evaluating the fitness for the purpose of any downloads, programs and text available through us and for visiting the Website or any External Links. Check Your Premium shall not be liable to the User for damage caused by the computer, computer software, programs, files or data thereon or any other direct or indirect, consequential and incidental damages suffered by accessing the Website or External Links.<br /><br />



        <h5>
            <span>Withdrawal of Consent</span>
        </h5>
        In the event, the User does not intend to continue with the use of the Website, the User in such scenario can unsubscribe by accessing the ‘unsubscribe’ link. Pursuant to such a request from the User, Check Your Premium shall as per its Privacy Policy, delete the information of the User from the Website, in which case the User will no longer be able to access certain features of the Website.<br /><br />


        <h5>
            <span>Variation</span>
        </h5>
        The T&Cs may be revised at any time without giving any prior notice. The revised T&Cs shall apply to the use of the Website from the date of such publication. The User is bound by such revisions and shall therefore periodically visit the webpage to review the then current T&Cs to which the User shall be bound.<br /><br />


        <h5>
            <span>Exclusion of third party rights</span>
        </h5>
        The exercise of Check Your Premium and the User’s rights in relation to the T&Cs are not subject to the consent of any third party. The T&Cs are for User’s benefit, and are not intended to benefit any third party or be enforceable by any third party.<br /><br />


        <h5>
            <span>Entire agreement</span>
        </h5>
        The T&Cs together with the Privacy Policy constitute the entire agreement between Check Your Premium and the User in relation to the use of the Website, and supersedes all previous agreements in respect to the use of the Website.<br /><br />


        <h5>
            <span>Caveat</span>
        </h5>
        Insurance is the subject matter of solicitation. Hence, except as specifically set forth herein, the information contained on the Website is not an offer to sell or any security, insurance product or other product or service or to provide tax, legal or other advice. No security, insurance product or other product or service is offered or will be sold in any jurisdiction in which such offer or solicitation, purchase or sale would be unlawful under the securities, insurance or other laws of such jurisdiction. Some products and services may not be available in all jurisdictions.<br /><br />


        <h5>
            <span>
                Force Majeure
            </span>
        </h5>
        Neither Check Your Premium nor its affiliates, suppliers, service providers or service partners shall be liable for any failure to perform any obligation due to an event beyond the control of such party resulting from a direct and immediate consequence of any act of God, riot, civil unrest, earthquake, flood, terrorism, war, act of civil or military authority, or any other natural or man-made eventuality outside control of the parties and which could not have been reasonably foreseen. No claims whatsoever on account of the same shall be entertained by us.<br /><br />


        <h5>
            <span>
                Relationship
            </span>
        </h5>
        The Website is only a platform where the User will interact with the partner insurer/insurance providers the products of which are listed on the Website on a principal-to-principal basis. The pricing, payment terms, warranties related to such products listed are in accordance with such obligations and based on bipartite contractual obligations between the insurance provider and the User. Check Your Premium does not involve itself in the offer or acceptance of such commercial and/or contractual terms between the User and the insurance provider. Further, the relationship between the User and the Website is that of an independent party, and nothing herein constitutes or creates any employment, agency, distributorship, franchise, joint venture, partnership or other similar legal relationship between the parties. Neither party shall have any  right or authority to act on behalf of or to bind the other nor shall any party represent that it has such right or authority.<br /><br />


        <h5>
            <span>
                Severability
            </span>
        </h5>
        The invalidity or unenforceability of any provision shall not affect any other part of the T&Cs, and such invalid or unenforceable provisions shall be severed or stands modified to give effect to the provisions of other T&Cs.<br /><br />


        <h5>
            <span>
                Dispute Resolution
            </span>
        </h5>
        Any dispute or difference arising between Check Your Premium and the User as to the meaning or interpretation of provisions of the T&Cs or as to any claim by one party against the other arising from use of the Website shall be referred for arbitration to a sole arbitrator appointed by Check Your Premium. The arbitration proceedings shall be governed by the provisions of the Arbitration and Conciliation Act, 1996 as amended from time to time. The Arbitration proceedings shall be conducted at Bhopal. The language of arbitration shall be English. The arbitration award shall be binding and conclusive in nature.<br /><br />


        <h5>
            <span>
                Governing Law
            </span>
        </h5>
        The T&Cs shall be governed by laws of India
    </div>



    <div class="product" id="foot">
        <h3><span>Privacy Policy</span></h3>
        Check Your Premium Insurance Web Aggregator Limited (hereinafter to be referred as “Check Your Premium”) is aware and understands the importance of privacy of the information shared by the user (“User”) at the time of visiting our website www.checkyourpremium.com (“Website”). Considering the personal nature of the information, we have created this privacy policy (“Privacy Policy”) setting out the manner in which we shall use and protect the information. We have also put in place suitable remedial measures, to the best of our   capabilities, to ensure that the information shared, is not being used in unauthorized and unlawful manner. We shall use the information shared by the User solely for the purpose of providing a platform to the User for comparing the insurance policies available in the market and assisting the user to choose from the available policies, depending on the User’s needs.
        <h5>
            <span>
                Statutory Compliance
            </span>
        </h5>
        We have created this Privacy Policy in compliance with Rule 4 of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 ("Rules"), read with Section 43A of the Information Technology Act 2000 ("Act"), (as amended from time to time), which governs the instances wherein a body corporate or any person on its behalf, collects, receives, possess, stores, deals or handle information of the provider of such information, is required to provide a Privacy Policy for handling such information which includes personal and sensitive information. The Rules also provide that the Privacy Policy should be made in a clear and easily accessible format available on the Website for view by the User.


        <h5>
            <span>
                Collection of Information
            </span>
        </h5>
        The information collected by us can be, Personal Information (includes but is not limited to, name, age, address, contact information including email address). The User may, in certain instances visit the Website anonymously, without revealing the identity or without intending to provide any information. Notwithstanding this, there may be instances, wherein the User may be requested to provide certain information in order to cater to the requirements of registration and in order to avail the services of Check Your Premium. We may use log files to collect the information  include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks to analyse trends, administer the site, track user's movement in the aggregate, and gather broad demographic information for aggregate use. Any such information so collected may also be used to enhance the quality of assistance offered, services we offer to you, to improve marketing, analytics or site functionality.



        <h5>
            <span>
                Use of Information
            </span>
        </h5>
        The Information which is collected and stored is used only for lawful purposes which includes, creation of User account with the Website that enables the User to manage and access the various features of the Website. The information may be shared with partner insurers. By visiting the Website and giving us the missed call you authorize us and our partner insurer to call, send SMS, emails and newsletters to you notwithstanding you DND/DNC/NDCR

        <h5>
            <span>
                Consent
            </span>
        </h5>
        By accessing and providing the information whenever requested, the User consents and grants Check Your Premium the right to use the information in accordance with the Terms and Conditions and the Privacy Policy. The User acknowledges that subject to visit/registration on the Website and giving us the missed call irrespective of being registered under DND/ DNC/ NDCR service, Check Your Premium and its associated partners shall be authorized to provide updates through call, sms, whatsapp or similar app, emails and newsletters in relation to the product information, unless expressly otherwise agreed by the User.

        <h5>
            <span>
                Sharing of Information
            </span>
        </h5>
        We may share information with  partner insurer, organizations or individuals (“Third Party”) outside of Check Your Premium, if we have a good-faith that access, use, preservation or disclosure of the information is reasonably necessary on 'need basis' to (a) meet any applicable law, regulation, legal process or enforceable governmental request; (b) enforce applicable Terms and Conditions, including investigation of potential violations, (c) detect, prevent, or otherwise address fraud, security or technical issues; (d) protect against harm to the rights, property or safety of Check Your Premium, the Users or the public as required or permitted by law; and (e) develop its business. The employees, consultants, representatives of Check Your Premium are bound by certain code of conduct and confidentiality policy which obligates them to protect the Information.


        <h5>
            <span>
                Safeguards
            </span>
        </h5>
        Our endeavor is to protect the Information shared by the User and to ensure this, we have put in place appropriate technical and security measures to prevent unauthorized or unlawful access to, accidental loss of, or destruction and damage of the Information. However, the User fully understands and acknowledges that information transmitted to Check Your Premium may be subject to certain risk. The User is aware of the limitations and agrees and undertakes not to hold Check Your Premium liable for any unintended access, loss or destruction of the Information. Further, you are responsible for maintaining the confidentiality and security of your login id and password, and may not provide these credentials to any third party.

        <h5>
            <span>
                External Links
            </span>
        </h5>
        We may send to User, other information about the various products through newsletters, SMS updates, or e-mails (“Updates”). If the User does not wish to receive the Updates, the User can unsubscribe by sending an email to us at principalofficer@checkyourpremium.com. The process to unsubscribe may take a minimum of fifteen (15) working days. Further, while visiting the Website, the User may come across links to other websites. The User shall be solely responsible for the User’s visit or association with those websites and its privacy policy. We are not responsible in any manner whatsoever for User's visit or association with such websites.


        <h5>
            <span>
                Third Party Advertising
            </span>
        </h5>
        We may use third-party advertising companies and/or ad agencies to serve ads when you visit our Website. These companies may use information (excluding your name, address, email address, or telephone number) about your visits to this Website in order to provide advertisements on this Website and other third party websites about goods and services that may be of interest to you. We use third-party service providers to serve ads on our behalf across the internet and sometimes on this Website. They may collect anonymous information about your visits to Website, and your interaction with our products and services. They may also use information about your visits to this and other Websites for targeted advertisements for goods and services. This anonymous information is collected through the use of a pixel tag, which is industry standard technology used by most major Websites. No personally identifiable information is collected or used in this process.

        <h5>
            <span>
                Cookie
            </span>
        </h5>
        Cookies are created when a browser loads a particular website. The website sends information to the browser which then creates a text file. Every time the user goes back to the same website, the browser retrieves and sends this file to the website's server. Computer Cookies are created not just by the website the user is browsing but also by other websites that run ads, widgets, or other elements on the page being loaded. These cookies regulate how the advertisements appear or how the widgets and other elements function on the page. Cookies can make use of the web easier by saving and administering status, application, preferences and other user information. Most browsers are initially set to accept cookies but the User can change the setting to refuse cookies or to be alerted when cookies are being sent. For instructions on how to change cookie settings, look in the Help menu on your Internet browser.


        <h5>
            <span>
                Cookie Usage
            </span>
        </h5>
        We may use cookies to (a) keep track of User status, business information and preferences of the User in relation to the Website or otherwise, (b) administer Website preferences and other information provided by the User visiting the Website, and (c) understand visitor usage, on an anonymous basis, of the Website.


        <h5>
            <span>
                Representation
            </span>
        </h5>
        We works on the presumption that all the Information provided herein by the User is true and accurate in all respects, and the User grants an unconditional consent to the collection, storage and use of such Information to Check Your Premium as per the Privacy Policy.

        <h5>
            <span>
                Amendment
            </span>
        </h5>
        This Policy is subject to amendments from time to time. The changes are done with an endeavor to ensure better protection and is based on the decision taken by the management without giving any prior notice. By accessing the Website, the User agrees to these changes. The User may determine when the Privacy Policy was last updated by referring to the modification date found at the bottom of the Privacy webpage.


        <h5>
            <span>
                Data Retention
            </span>
        </h5>
        We may retain Information about customers as necessary for business purposes and as required by government regulation for a suitable period. Our endeavors to carefully dispose of records and delete Information after the expiration of the data retention period.

        <h5>
            <span>
                Grievance Redressal
            </span>
        </h5>
        In the event of any security breach, Information theft or any provision of this Privacy Policy adversely affecting the interest of the User, the User may write or contact us at:<br /><br />

        Check Your Premium Insurance Web Aggregator Private Limited<br />
        MB-28, B-Block Mansarovar Complex, Shivaji Nagar,<br />
        Bhopal – 462 016<br />
        <span style="font-weight: bold; color: #e2464a;">Contact number:</span> (0755) 4932378<br />
        <span style="font-weight: bold; color: #e2464a;">Email Id:</span> complaints@checkyourpremium.com<br /><br />
        The Grievance Officer shall expeditiously within 20 days from the date of receipt of grievance, reply and attempt to resolve the same to the best of its knowledge.<br /> <br />
        <h5>
            <span>
                Suggestions
            </span>
        </h5>
        For any queries, requests, or comments which the User may have, the User may send an e-mail to<br /><br />
        <span style="font-weight: bold; color: #e2464a;">mailto:</span> <a href="#" style="font-weight: bold; color: #0b72a7;">support@checkyourpremium.com</a>

    </div>




    <div class="product" id="refund">
        <h3><span>Cancellation /Refund and Chargeback Policy</span></h3><br />
        <h5>
            <span>
                Free look Period Cancellation and Refund
            </span>
        </h5>
        We encourage all our customers to read the insurance policy documents carefully and avail the free look facility in case the terms and conditions of the insurance policy are not what you wanted. As per regulatory guidelines you may return the policy during free look period and get the refund. The conditions to avail the free look facilities:-<br /> <br />

        <ul style="margin: 0 1rem 0 6rem !important; padding: initial !important; list-style: decimal;">
            <li>applies only to Life Insurance and Health Insurance policies for a term of at least 3 years. </li>
            <li>option can be exercised within 15 days of receipt of policy documents (online/offline). </li>
            <li>on receipt of request during free look, policy gets cancelled and entire premium is refunded to you subject to deduction of (i) charges pertaining to medical tests conducted (ii) administrative and service cost like transaction cost, stamp duty, etc. and (iii) proportionate risk premium for the period on cover </li>
        </ul><br /><br />

        Please note such deduction is at the sole discretion of the insurer. The amount will be initiated to be refunded to the customer within 7 days of receipt of the refund amount from the Insurance Company. All payment with respect to refunds as stated under this paragraph shall be the sole responsibility of the insurer as per the regulations laid down by the IRDAI.<br /><br />

        You understand that Check Your Premium Insurance Web Aggregator Private Limited (herein referred as “Check Your Premium”) is only acting as a mere facilitator and has no liability, and make no refund in causes beyond their direct control. In no event shall Check Your Premium be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of any delay in refund.<br />

        <h5>
            <span>
                Chargebacks
            </span>
        </h5>
        Cardholder may dispute a transaction carried out through our website or partnered Insurance Company website and file a chargeback with your issuing bank for the reversal of a particular transaction. Chargeback allows transactions to be reversed by you under specified circumstances such as, on account of (i) alleged forgery of the card number / bank account or other details (ii) any charge/debit made on a card that has been listed as a hot listed card or otherwise listed on the card association (Visa, MasterCard, Rupay etc.) warning bulletins (iii) duplicate processing of the transaction; or (iv) for other reasons as per applicable rules and guidelines issued by regulator, your card/payment instrument issuing bank etc. However, we reserve the right to reject a chargeback, including but not limited to, under the following circumstances:
        <br /><br />
        (a)  In the event your medical tests or underwriting is in process with your chosen insurer, not exceeding a period of 3 months from the date of your insurance policy application <br /><br />
        (b) In the event there is any delay caused on the part of the insurer in conducting medical tests or during the process of medical underwriting or issuance of an insurance policy or any service provided
        by the insurer in connection with the insurance policy issuance, not exceeding a period of 3 months from the date of your insurance policy application <br /><br />
        (c) In case your insurance policy application is rejected by the insurer, post your medical test. <br /><br />


        Check Your Premium shall not be liable to you, in any form or manner whatsoever, for any claims, disputes, proceedings which may arise in connection with chargebacks initiated by you in the circumstances as specified under (a), (b) and (c) hereinabove.






    </div>







    <div class="product" id="Disclaimer">
        <h3><span>Website Disclaimer</span></h3><br />

        The Website and all contents and services provided on the Website are provided on an "as is" and "as available" basis. Check Your Premium expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, title, non-infringement, and security and accuracy, as well as all warranties arising by usage of trade, course of dealing, or course of performance. Check Your Premium makes no warranty, and expressly disclaims any obligation, that:-<br /> <br />

        <ul style="margin: 0 1rem 0 6rem !important; padding: initial !important; list-style: decimal;">
            <li>The content will be up-to-date, complete, comprehensive, accurate or applicable to the circumstances </li>
            <li>The Website will meet the requirements of the Users or will be available on an uninterrupted, timely, secure, or error-free basis </li>
            <li>The results that may be obtained from the use of the Website or any Services offered through the Website will be accurate or reliable; or</li>
            <li>The quality of any products, services, information, or other material obtained by the Users through the Website will meet Users’s expectations.</li>
        </ul><br /><br />

        Check Your Premium have used its best endeavor to cater accurate, unbiased and complete data pertaining to insurance products and services, the data available to such products and services are generic in nature hence Check Your Premium shall have no liability in any manner with respect to discrepancies in the data published on the Website.<br /><br />
        The contents of the Website are made available by Check Your Premium at its own discretion and any such change shall be informed to general public in public domain through its website portal. Check Your Premium disclaims that no intellectual property rights or any other ancillary rights has been infringed due to act or omission and Check Your Premium do not intend to infringe any intellectual property or other ancillary rights of any other third party.<br />

        <h5></h5>
        The visitors/customers of the Website hereby agree that his/her detailed amy be shared with partner insurers. Information available on this portal is of the partner insurer with whom we have an agreement. The Information displayed is solely based on the information received from the respective insurer and acknowledges that the insurance is a subject matter of solicitation and market risks and hereby understand the limitations of the insurance policies and the risk involved by availing such policies. Check Your Premium shall not be held liable in any manner or form for the loss or damages incurred in relation to the foregoing cases.
        <br /><br />
        Further Check Your Premium (including its officers, directors, employees, representatives, affiliates, and providers) shall not be made responsible or liable for (a) any injury, death, loss, claim, act of god, accident, delay, or any direct, special, exemplary, punitive, indirect, incidental or consequential damages of any kind (including without limitation lost profits or lost savings), whether based in contract, tort, strict liability or otherwise, that arise out of or is in any way connected with (i) any failure or delay (including without limitation the use of or inability to use any component of the Website), or (ii) any use of the Website or content, or (iii) the performance or non-performance by us or any provider, even if we have been advised of the possibility of damages to such parties or any other party, or (b) any damages to or viruses that may infect your computer equipment or other property as the result of your access to the Website or your downloading of any content from the Website. The Website may provide links to other third-party websites. However, since Check Your Premium has no control over such third-party websites, you acknowledge and agree that Check Your Premium is not responsible for the availability of
        such third-party websites and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such third-party websites. You further acknowledge and agree that Check Your Premium shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third-party websites. Such third-party website may have separate terms and conditions and privacy policy, and which are independent of Check Your Premium and therefore, the Users are advise to read the terms and conditions available on the Website before the Users access any such third-party website. <br /><br />

    </div>

</main>




