<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MyString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-IGR3D8M\SQLEXPRESS;initial catalog=Checkyourpremiumlive;user id=sa;password=sa@123" />
    <add name="CheckyourpremiumliveEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IGR3D8M\SQLEXPRESS;initial catalog=Checkyourpremiumlive;user id=sa;password=sa@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="baseURL" value="http://103.118.2.17/whitelabelapi/v2/getpremium" />-->
    <add key="baseURL" value="https://sis.edelweisstokio.in/shirokuapi/v2/GetPremium"/>
    <add key="SBIClientId" value="79de4de3-d258-43b8-a89a-f42924dddb46"/>
    <add key="SBISecretKey" value="lC0eU6gN3sM2mO3vY8xT2nS8sV0rM2xB4xL8uF1uD5lE8jJ1pY"/>
    <add key="SBIBaseURL" value="https://devapi.sbigeneral.in/v1/tokens"/>
    <!--<add key="StarAPIKey" value="75dc72e57d2148f5a76676895c18ff11"/>
    <add key="StarSecretKey" value="9ad7d6ccb13343c69d0ceb38d13a5d8f"/>
    <add key="StarBaseURL" value="https://igsan.starhealth.in/api"/>-->
    <add key="StarAPIKey" value="0b7ac3ec6a6246ef8c1f510c1ea5eaf9"/>
    <add key="StarSecretKey" value="f5e918674da44343bb38212a59cb8bcd"/>
    <add key="StarBaseURL" value="https://ig.starhealth.in/api"/>
    <add key="GodigitBaseURL" value="https://preprod-digitpolicyissuance.godigit.com/policyservice/v1/createQuote"/>
    <!--<add key="GodigitApiKey" value="0A9RLAJ5LW5J4M9V1IMP89AUV6SKN7XN"/>
    star{-Api Key - 0b7ac3ec6a6246ef8c1f510c1ea5eaf9
Secret Key - f5e918674da44343bb38212a59cb8bcd
Production URL - https://ig.starhealth.in
Sample proposal creation URL - https://ig.starhealth.in/api/policy/proposals}
 Godigt-{API Key: 7EG5H388WXNA7M3IK87ES11XNH6V1X47

Production URL: https://prod-digitpolicyissuaance.godigit.com/policyservice/v1/createQuote}

-->
    <add key="IndiaFirstBaseURL" value="https://iflictest1.custhelp.com/"/>
    <add key="BhartiAXABaseURL" value="https://uat.bhartiaxaonline.co.in/"/>
    <add key="IndiaFirstSoapAction" value="https://iflictest1.custhelp.com/determinations-server/assess/soap/generic/12.2.1/IFLOnlineTermPlan"/>
    <add key="BhartiAXASoapAction" value="https://uat.bhartiaxaonline.co.in/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=B2C,cn=cordys,cn=defaultInst106,o=mydomain.com"/>
    <add key="SBITokenService" value="https://devapi.sbigeneral.in"/>
    <!--<add key="BajajHealth" value="http://webservicesint.bajajallianz.com/BagicHealthWebservice/healthpremiumcal"/>
    <add key="BajajUser" value="bajajwebservicehealth@checkyourpremium.com"/>
    <add key="BajajPassword" value="newpas12"/>-->
    <add key="BajajHealth" value="https://webservices.bajajallianz.com/BagicHealthWebservice/healthpremiumcal"/>
    <add key="BajajHealthpro" value="https://webservices.bajajallianz.com/BagicHealthWebservice/healthpremiumcal"/>
    <add key="BajajUser" value="bajajwebservicehealth@checkyourpremium.com"/>
    <add key="BajajPassword" value="bapjDxfC7RRN4E7"/>
    <!--For TermLife-->
    <add key="KotakUrl" value="https://klibus.mykotaklife.com/services/GetQuoteDetails.svc/GetQuoteDetails"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/ErrorHandler/ErrorHandling">

      <error statusCode="404" redirect="~/ErrorHandler/ErrorHandling" />
      <error statusCode="405" redirect="~/ErrorHandler/ErrorHandling" />
    </customErrors>

    <pages viewStateEncryptionMode="Always"> </pages>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="AutoGenerate,IsolateApps"
    decryptionKey="AutoGenerate,IsolateApps"  />
    <!--<httpRuntime enableVersionHeader="false"/>-->
  </system.web>
  <!--CSRF Add-->

  <!--CSRF Add-->
  <system.webServer>
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <!--Clickjacking security-->
    <!--CSRF Add-->
    <httpProtocol>
      <customHeaders>

        <add name="X-Frame-Options" value="DENY" />
        <!--<remove name="X-Powered-By" />-->
        <add name="Cookie" value="DENY" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Access-Control-Allow-Methods" value="POST, GET" />
        <!--<add name="cookie" value="123" />-->
        <!--<add name="Cookie" value="123" />-->
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <!--<security>
      <requestFiltering removeServerHeader="true" />
    </security>-->

    <!--End clickjacking-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>