@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Resources/homepage/JiSlider.css" rel="stylesheet" />

<link href="~/Resources/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Resources/css/flipps.css" rel="stylesheet" />



<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">





<style>
    * {
        margin: 0;
    }

    html, body {
        height: 100%;
    }

    #JiSlider {
        width: 100%;
        height: 100%;
        top: 10rem;
    }

    #logot img {
        width: 100%;
    }

    footer {
        display: none;
    }

    .contertyf {
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        list-style-type: none;
        /*overflow: hidden;*/
        *zoom: 1;
    }

    .jislider__controller {
        display: none !important;
    }

    p a {
        color: #000;
    }


    svg#ticond {
        position: relative;
        top: 8px;
    }

    .fa.fa-angle-right {
        display: none;
    }

    h6.yuoty {
        background: #2b59a5;
        font-size: 4px;
        border-bottom: 1px solid #4c4a4a;
        border-top: 1px solid #4c4a4a;
        margin-top: 0rem;
        position: absolute;
        z-index: 999999;
        margin-bottom: 0;
        width: 100%;
        top: 97px;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Ranchers&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">

@*<div class="overlayss"></div>*@

<h6 class="yuoty">********</h6>
<div id="JiSlider" class="jislider">
    <ul>
        <li>
            <span style="font-size:0px;">*</span>
            <img src="~/Resources/images/ggrg.jpg" />
        </li>
        <li>
            <span style="font-size:0px;">*</span>
            <img src="~/Resources/images/Healthfd.jpg" />
        </li>
        <li>
            <span style="font-size:0px;">*</span>
            <img src="~/Resources/images/termsLkj.jpg" />


        </li>

        <li>
            <span style="font-size:0px;">*</span>
            <img src="~/Resources/images/220-SM861822.jpg" />
        </li>
        <li>
            <span style="font-size:0px;">*</span>
            <img src="~/Resources/images/20-SM110471.jpg" />
        </li>
        <li>
            <span style="font-size:0px;">*</span>
            <img src="~/Resources/images/220-SM854031.jpg" />


        </li>
    </ul>



</div>


<style>
    .highlig {
        display: block !important;
    }


   
</style>

<link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">


<link href="~/Resources/css/bootstrap-3.4.1.min.css" rel="stylesheet" />
<div class="sectionProducts">

    <div class="contaenrtsProducts">


        <div class="col-xs-12 col-sm-5 col-lg-5" style="padding-left: 0;">

            <div class="mhabox">
                <div style="visibility:hidden;">
                    <div>

                        <div class="highlig">
                            <span>Term Life</span>
                        </div>
                    </div>
                </div>
                <div style="visibility:hidden;">
                    <div>

                        <div>
                            <span>Health</span>
                        </div>
                    </div>
                </div>

                <div style="visibility:hidden;">
                    <div>

                        <div>
                            <span>Car</span>
                        </div>
                    </div>
                </div>

                <div style="visibility:hidden;">
                    <div>

                        <div>
                            <span>Two wheeler</span>
                        </div>
                    </div>
                </div>

                <div style="visibility:hidden;">
                    <div>

                        <div>
                            <span>Travel</span>
                        </div>
                    </div>
                </div>
                <div style="visibility:hidden;">
                    <div>

                        <div>
                            <span>Other</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-7" style="padding:0px;">
            <div class="mhasjc">
                <div class="bhnvd col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="ball" id="ball" style="margin-left: 0px;">

                        <div class="">

                            <svg version="1.1" id="ticond" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
                            
                            <metadata>
                            <sfw xmlns="&ns_sfw;">
                            <slices></slices>
                            <sliceSourceBounds width="-32766" height="-32766" y="24274" x="8592" bottomLeftOrigin="true"></sliceSourceBounds>
	</sfw>
</metadata>
<g>
                            <path fill="#243238" d="M40.27,3.745c1.879,0,3.4,1.445,3.4,3.227c0,1.782-1.521,3.226-3.4,3.226c-1.87,0-3.39-1.444-3.39-3.226
		C36.88,5.19,38.4,3.745,40.27,3.745z" />
                            <path fill="#2F4859" d="M51.915,62.889L41.37,63.156l1.292,7.522c0,0,9.632,1.124,11.162,1.065c1.542-0.044,11.8-2.72,11.8-2.72
		l3.461-2.725l0.218-2.184L51.915,62.889z" />
                            <path fill="#7DA8BE" stroke="#000000" stroke-width="0.494" stroke-miterlimit="10" d="M72.38,62.493
		c-3.367-0.886-20.464,0.398-20.464,0.398l-17.382-0.003l7.021,7.039c0,0-0.053-2.301,4.603-1.552
		c4.662,0.749,9.882-1.515,13.755-2.618c3.872-1.085,8.38-0.207,8.38-0.207s-7.149,0.408-13.675,2.378
		c-6.535,1.979-10.976,1.515-10.976,1.515c-0.912-0.669-2.144-2.65-4.219-2.116c-2.078,0.535-1.716,1.639-3.507,2.719
		c-1.795,1.103-3.009-0.07-4.946,0c-1.936,0.07-2.504-0.07-4.511,1.635c-2.006,1.709-0.216,2.667,2.006,2.176
		c2.22-0.467,3.507,0.491,8.523,0.633c5.012,0.129,18.414,0.129,26.155,0c7.732-0.142,11.815-4.786,12.747-6.823
		C76.819,65.622,75.749,63.38,72.38,62.493L72.38,62.493z" />
                            <path fill="#7DA8BE" stroke="#000000" stroke-width="0.494" stroke-miterlimit="10" d="M29.959,62.845c0,0-10.952,0.491-13.74,0
		c-2.789-0.498-8.301,1.128-9.958,3.597c-1.658,2.464,0.798,5.361,3.784,6.64c2.988,1.258,3.517,0.922,8.828,1.196
		c5.311,0.238,8.827,0.361,11.351,0.301c2.521-0.063,6.765-0.089,6.765-0.089l6.792-0.662L42.439,68.3l-1.069-5.144L29.959,62.845z" />
                            <path fill="#E6BB9A" stroke="#000000" stroke-width="0.988" stroke-miterlimit="10" d="M77.381,57.349
		c-0.183,1.422-1.318,1.422-1.318,1.422s0,0-0.085-0.741c-0.093-0.754-0.354-0.788-0.528-0.788c-0.181,0-0.455,0.588-0.438,1.433
		c0.01,0.842-0.565,1.517-0.944,1.572c-0.379,0.06-0.23-0.739-0.23-0.739c1.409-1.478,1.355-2.458,1.355-2.458
		c0.344-1.654-0.896-1.4-0.896-1.4c-0.333,1.764-2.151,3.485-2.151,3.485s-2.387,0.373-3.533,0.373
		c-1.15,0-8.596-5.269-10.416-8.275c-1.806-2.989-1.052-14.069-1.341-17.521c-0.282-3.454-1.131-3.363-5.147-4.36
		c-1.161-0.286-2.189-0.512-3.087-0.722c-0.931-0.218-1.721-0.422-2.313-0.654c-0.822-0.32-1.309-0.692-1.389-1.255
		c-0.177-1.359,0-4.449,0-4.449l-4.587,0.279l-4.59-0.279c0,0,0.187,3.09,0,4.449c-0.08,0.563-0.559,0.936-1.379,1.255
		c-0.608,0.232-1.39,0.436-2.327,0.654c-0.896,0.209-1.93,0.436-3.082,0.722c-4.009,0.999-4.869,0.907-5.156,4.36
		c-0.288,3.453,0.48,14.532-1.338,17.521c-1.816,3.007-9.264,8.275-10.408,8.275c-1.146,0-3.54-0.373-3.54-0.373
		s-1.813-1.722-2.154-3.485c0,0-1.227-0.254-0.891,1.4c0,0-0.046,0.98,1.359,2.458c0,0,0.145,0.799-0.237,0.739
		c-0.38-0.056-0.944-0.73-0.938-1.572c0.014-0.845-0.262-1.433-0.44-1.433c-0.171,0-0.438,0.034-0.524,0.788
		c-0.085,0.741-0.085,0.741-0.085,0.741s-1.143,0-1.321-1.422c0,0-1.318-0.335-0.853,1.596c0.475,1.922,1.672,3.9,4.224,4.373
		c0,0,3.249,0.724,7.045-1.205c3.793-1.933,9.358-4.087,10.81-5.244c1.457-1.139,2.296-0.761,3.039-2.928
		c0.617-1.825,1.675-10.148,1.595-12.965c0.55,2.589,1.992,9.806,1.633,12.65c-0.445,3.505-1.647,5.06-2.025,9.263h11.585h11.584
		c-0.38-4.203-1.585-5.758-2.026-9.263c-0.359-2.845,1.09-10.062,1.624-12.65c-0.084,2.816,0.984,11.14,1.614,12.965
		c0.734,2.167,1.565,1.788,3.03,2.928c1.44,1.157,7.009,3.311,10.805,5.244c3.797,1.929,7.044,1.205,7.044,1.205
		c2.553-0.473,3.762-2.451,4.221-4.373C78.694,57.014,77.381,57.349,77.381,57.349L77.381,57.349z" />
                            <path fill="#D50000" d="M49.889,53.627c-0.393-3.146,1.43-11.729,1.768-13.324c-0.003-0.172-0.008-0.252-0.008-0.252
		s-3.404-6.843-3.028-11.422c-0.931-0.218-1.721-0.422-2.313-0.654c-0.047,0.695-0.148,2.32-0.422,4.209
		c-0.339,2.52-0.862,5.198-5.073,5.356c-0.178,0.01-0.333,0.016-0.481,0.027c-0.149-0.011-0.304-0.017-0.477-0.027
		c-4.213-0.158-4.735-2.836-5.079-5.356c-0.259-1.889-0.373-3.514-0.413-4.209c-0.607,0.232-1.389,0.436-2.326,0.654
		c0.371,4.579-3.036,11.422-3.036,11.422s-0.005,0.081-0.008,0.252c0.352,1.595,2.18,10.178,1.78,13.324
		c-0.445,3.504-1.647,5.059-2.026,9.262h11.583h11.585C51.535,58.686,50.331,57.131,49.889,53.627z" />
                            <path opacity="0.3" fill="#EBF0F3" d="M44.932,53.627c-0.192-3.146,0.676-11.729,0.85-13.324c0-0.172,0-0.252,0-0.252
		s-1.652-6.843-1.455-11.422c-0.46-0.218-0.832-0.422-1.111-0.654c-0.037,0.695-0.089,2.32-0.217,4.209
		c-0.153,2.52-0.415,5.198-2.438,5.356c-0.084,0.01-0.161,0.016-0.228,0.027c-0.076-0.011-0.15-0.017-0.235-0.027
		c-2.027-0.158-2.278-2.836-2.44-5.356c-0.12-1.889-0.178-3.514-0.196-4.209c-0.293,0.232-0.672,0.436-1.119,0.654
		c0.169,4.579-1.465,11.422-1.465,11.422s-0.004,0.081-0.006,0.252c0.174,1.595,1.052,10.178,0.859,13.324
		c-0.219,3.504-0.792,5.059-0.973,9.262h5.571H45.9C45.719,58.686,45.129,57.131,44.932,53.627z" />
                            <path fill="#2F4859" d="M13.01,67.362c0,0,8.804-0.615,13.417,1.685c0,0,7.755,0.705,9.539,1.285l1.78-1.525
		c0,0-3.563-1.058-5.766-1.058s-4.717,0.387-4.717,0.387S16.47,66.251,13.01,67.362z" />
                            <path fill="#E6BB9A" stroke="#000000" stroke-width="0.7904" stroke-miterlimit="10" d="M43.485,69.311
		c-0.9-0.776-2.096-2.504-4.063-1.982c-2.078,0.534-1.715,1.638-3.506,2.718c-1.795,1.103-3.01-0.07-4.946,0
		c-1.936,0.07-2.504-0.07-4.511,1.635c-2.006,1.709-0.215,2.667,2.007,2.176c2.22-0.467,3.507,0.491,8.523,0.633
		c1.523,0.031,3.822,0.071,6.496,0.072V69.311L43.485,69.311z" />
                            <path fill="#243238" d="M40.27,7.359c4.495,0,8.144,4.217,8.144,9.417c0,5.202-3.649,9.417-8.144,9.417
		c-4.49,0-8.132-4.215-8.132-9.417C32.138,11.576,35.78,7.359,40.27,7.359z" />
                            <path fill="#E6BB9A" d="M40.412,10.44c-2.536,8.394-6.745,3.756-6.745,8.394c0,4.636,3.018,8.39,6.745,8.39
		c3.734,0,6.74-3.754,6.74-8.39C47.151,14.196,41.434,7.036,40.412,10.44z" />
</g>
<g id="Layer_2">
                            <g>
                            <path fill="#F6000D" d="M64.236,76.363H64.23l-2.178,0.928l-1.879-0.825l1.879,0.825l2.178-0.928H64.236
			c4.616-1.938,8.318-5.341,10.661-9.528C72.499,71.112,68.745,74.456,64.236,76.363z" />
                            <path fill="#FFFFFF" d="M45.816,45.251l0.604,14.041c0.007,8.735,7.808,15.214,15.818,18.718l3.318-1.801
			c0,0,5.398-3.261,7.45-5.332c1.789-3.21,5.295-10.95,5.295-14.767l-0.597-10.723l-15.591-8.306L45.816,45.251z" />
                            <path opacity="0.8" fill="#160707" enable-background="new    " d="M78.906,44.189l-16.408-8.751
			c-0.25-0.128-0.532-0.124-0.781,0.009l-15.949,8.742c-0.27,0.133-0.426,0.416-0.426,0.717v11.421
			c0.009,9.385,5.57,17.879,14.175,21.651l2.218,0.96c0.202,0.082,0.438,0.082,0.646,0l2.492-1.083
			c8.766-3.684,14.466-12.255,14.469-21.746V44.906C79.339,44.603,79.171,44.316,78.906,44.189z M77.704,56.109
			c0,3.817-0.994,7.502-2.786,10.703v-0.002c-0.005,0.017-0.021,0.021-0.021,0.023c-2.343,4.188-6.046,7.589-10.66,9.529H64.23
			l-2.178,0.924l-1.879-0.822c-8.021-3.495-13.191-11.393-13.196-20.139V45.38l3.501-1.916l0,0l11.636-6.384l15.591,8.306
			L77.704,56.109L77.704,56.109z" />
                            <path display="none" fill="#F6000D" d="M67.729,71.684l-2.174,0.95l-1.886-0.826c-8.011-3.506-13.19-11.416-13.192-20.156v-8.188
			l-3.501,1.915v10.948c0.006,8.746,5.175,16.644,13.197,20.139l1.879,0.822l2.177-0.924h0.007
			c4.509-1.909,8.263-5.253,10.661-9.529c0-0.005,0.014-0.005,0.021-0.023c-2.054,2.076-4.486,3.735-7.179,4.866L67.729,71.684z" />
                            <path opacity="0.3" fill="#0E7F44" enable-background="new    " d="M67.729,71.684l-2.174,0.95l-1.886-0.826
			c-8.011-3.506-13.19-11.416-13.192-20.156v-8.188l-3.501,1.915v10.948c0.006,8.746,5.175,16.644,13.197,20.139l1.879,0.822
			l2.177-0.924h0.007c4.509-1.909,8.263-5.253,10.661-9.529c0-0.005,0.014-0.005,0.021-0.023c-2.054,2.076-4.486,3.735-7.179,4.866
			L67.729,71.684z" />
                            <path fill="#070707" d="M74.918,66.811v0.002c-0.007,0.021-0.021,0.021-0.021,0.023C74.897,66.832,74.913,66.827,74.918,66.811z" />
                            <path opacity="0.3" fill="#F6000D" enable-background="new    " d="M74.918,66.811v0.002c-0.007,0.021-0.021,0.021-0.021,0.023
			C74.897,66.832,74.913,66.827,74.918,66.811z" />
                            <polygon fill="#070707" points="50.478,43.465 50.478,43.465 46.977,45.38 46.977,56.327 46.977,45.38 		" />
                            <polygon opacity="0.3" fill="#F6000D" enable-background="new    " points="50.478,43.465 50.478,43.465 46.977,45.38
			46.977,56.327 46.977,45.38 		" />
	</g>
</g>
</svg>






                            <p class="actiyyve" style="margin: 2rem 0 0px;"><a href="@Url.Action("TermLifeinsurance", "TermAndLife")">Term Life<br>Insurance</a></p>


                        </div>

                    </div>
                </div>
                <div class="bhnvd col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="ball1" id="ball1" style="margin-top: 0px;">

                        <div class="">
                            <svg id="ticond" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g id="Layer_1">
                            <g>
                            <path fill="#D50000" d="M64.021,33.241h-5.804c-0.387,0-0.684-0.251-0.932-0.523l-2.174-3.729l-2.577,3.729
			c-0.22,0.272-0.68,0.523-1.074,0.421c-0.423-0.081-0.74-0.354-0.891-0.758l-3.256-10.51l-6.044,20.816
			c-0.167,0.476-0.542,0.746-0.995,0.746c-0.063,0-0.063,0-0.063,0c-0.472,0-0.842-0.204-0.979-0.679L32.25,24.988l-4.375,8.612
			c-0.239,0.406-0.613,0.611-0.983,0.611h-9.766c0.17,0.21,0.238,0.404,0.372,0.608c7.052,10.121,19.905,18.512,22.714,20.274
			c2.78-1.763,15.652-10.048,22.702-20.274C63.255,34.28,63.663,33.667,64.021,33.241z"></path>
                            <path opacity="0.3" fill="#FFFFFF" d="M57.824,39.024h-4.279c-0.299,0-0.526-0.145-0.676-0.406l-1.619-2.712l-1.893,2.712
			c-0.149,0.262-0.49,0.406-0.754,0.338c-0.341-0.031-0.562-0.271-0.682-0.543l-2.375-7.729l-4.464,15.304
			c-0.126,0.309-0.398,0.563-0.739,0.563c-0.04,0-0.04,0-0.04,0c-0.32,0-0.598-0.203-0.734-0.543L34.461,32.99l-3.219,6.307
			c-0.154,0.271-0.451,0.475-0.723,0.475h-7.154c0.1,0.137,0.168,0.271,0.271,0.407c5.155,7.457,14.615,13.626,16.668,14.916
			c2.056-1.29,11.498-7.391,16.663-14.916C57.259,39.813,57.545,39.362,57.824,39.024z"></path>
                            <path opacity="0.5" fill="#A4C4E7" d="M31.434,21.943c0.136-0.346,0.523-0.599,0.983-0.599c0.438,0,0.816,0.321,0.983,0.681
			l6.65,17.016L46.173,17.8c0.142-0.473,0.614-0.745,1.068-0.745c0.456,0,0.899,0.272,1.04,0.745l3.649,11.8l2.253-3.323
			c0.18-0.315,0.538-0.473,0.929-0.473c0.351,0,0.752,0.253,0.896,0.542l2.707,4.61h6.438c2.111-4.392,2.713-8.612,1.619-12.479
			c-1.372-4.679-5.995-9.762-12.807-9.762c-1.823,0-3.717,0.404-5.685,1.081c-4.831,1.809-7.393,3.857-7.393,3.857
			c-0.375,0.281-0.974,0.281-1.358,0c0,0-2.571-2.049-7.419-3.857c-1.967-0.677-3.866-1.081-5.662-1.081
			c-6.814,0-11.426,5.083-12.785,9.762c-1.285,4.156-0.472,8.767,2.173,13.632h10.375L31.434,21.943z"></path>
                            <path opacity="0.8" fill="#FFFFFF" d="M32.315,23.701c0.136-0.342,0.475-0.542,0.881-0.542c0.409,0,0.745,0.27,0.881,0.609
			l5.998,15.272l5.485-19.07c0.136-0.408,0.545-0.679,0.954-0.679c0.408,0,0.809,0.271,0.944,0.679l3.269,10.578l2.064-2.982
			c0.136-0.272,0.48-0.409,0.82-0.409c0.336,0,0.68,0.205,0.81,0.478l2.448,4.133h5.771c1.898-3.931,2.443-7.729,1.427-11.187
			c-1.223-4.222-5.364-8.798-11.486-8.798c-1.648,0-3.36,0.34-5.123,0.95c-4.33,1.646-6.638,3.489-6.638,3.489
			c-0.343,0.272-0.887,0.272-1.225,0c0,0-2.329-1.843-6.671-3.489c-1.763-0.61-3.457-0.95-5.083-0.95
			c-6.139,0-10.275,4.576-11.494,8.798c-1.154,3.728-0.409,7.866,1.967,12.204h9.323L32.315,23.701z"></path>
                            <path fill="#30323A" d="M73.494,30.955h-5.896c2.503-5.581,2.167-10.035,1.285-13.087c-1.618-5.424-6.906-11.256-14.842-11.256
			c-2.11,0-4.22,0.366-6.445,1.222c-3.743,1.422-6.257,2.916-7.32,3.677c-1.14-0.761-3.554-2.255-7.334-3.677
			c-2.184-0.855-4.321-1.222-6.424-1.222c-7.934,0-13.247,5.832-14.82,11.256c-1.081,3.188-1.378,8.093,1.666,14.24H6.174
			c-0.609,0-1.068,0.444-1.068,1.03c0,0.596,0.459,1.073,1.068,1.073h8.376c0.393,0.608,0.779,1.22,1.151,1.83
			c6.882,9.899,21.77,20.615,24.51,21.288v0.106c0,0,0.063,0,0.132-0.106c0.068,0,0.17,0,0.17,0v-0.068
			c2.342-1.102,16.636-10.354,24.198-21.288c0.688-1.017,1.277-2.044,1.795-2.983h6.987c0.607,0,1.051-0.438,1.051-1.03
			C74.545,31.432,74.102,30.955,73.494,30.955z M40.212,55.095C37.403,53.332,24.55,44.941,17.498,34.82
			c-0.134-0.204-0.202-0.398-0.372-0.608h9.766c0.37,0,0.745-0.205,0.983-0.611l4.375-8.612l6.983,17.766
			c0.136,0.475,0.506,0.679,0.979,0.679c0,0,0,0,0.063,0c0.453,0,0.828-0.271,0.995-0.746l6.044-20.816l3.256,10.51
			c0.15,0.405,0.468,0.677,0.891,0.758c0.395,0.103,0.854-0.148,1.074-0.421l2.577-3.729l2.174,3.729
			c0.248,0.272,0.545,0.523,0.932,0.523h5.804c-0.358,0.426-0.767,1.039-1.107,1.579C55.864,45.047,42.992,53.332,40.212,55.095z
			 M13.665,18.477c1.358-4.679,5.971-9.762,12.785-9.762c1.796,0,3.695,0.404,5.662,1.081c4.849,1.809,7.419,3.857,7.419,3.857
			c0.384,0.281,0.983,0.281,1.358,0c0,0,2.562-2.049,7.393-3.857c1.968-0.677,3.861-1.081,5.685-1.081
			c6.812,0,11.435,5.083,12.807,9.762c1.094,3.866,0.492,8.087-1.619,12.479h-6.438l-2.707-4.61
			c-0.144-0.288-0.545-0.542-0.896-0.542c-0.391,0-0.749,0.158-0.929,0.473L51.931,29.6l-3.649-11.8
			c-0.141-0.473-0.584-0.745-1.04-0.745c-0.454,0-0.927,0.272-1.068,0.745l-6.122,21.241l-6.65-17.016
			c-0.167-0.359-0.545-0.681-0.983-0.681c-0.46,0-0.847,0.253-0.983,0.599l-5.221,10.165H15.838
			C13.192,27.243,12.379,22.633,13.665,18.477z"></path>
	</g>
</g>
<g id="Layer_2">
                            <g>
                            <path fill="#F6000D" d="M62.2,74.394h-0.009l-2.149,0.917l-1.854-0.813l1.855,0.813l2.148-0.917H62.2
			c4.556-1.913,8.209-5.271,10.522-9.405C70.354,69.212,66.649,72.514,62.2,74.394z"></path>
                            <path fill="#FFFFFF" d="M44.018,43.683l0.593,13.86c0.008,8.624,7.706,15.016,15.615,18.479l3.276-1.782
			c0,0,5.329-3.217,7.352-5.261c1.769-3.171,5.226-10.811,5.226-14.575l-0.587-10.584l-15.39-8.197L44.018,43.683z"></path>
                            <path opacity="0.8" fill="#160707" d="M76.68,42.637L60.481,34c-0.245-0.128-0.527-0.124-0.771,0.008l-15.744,8.629
			c-0.265,0.133-0.419,0.411-0.419,0.709V54.62c0.008,9.26,5.497,17.646,13.991,21.367l2.19,0.949c0.199,0.079,0.431,0.079,0.639,0
			l2.459-1.068c8.652-3.637,14.278-12.094,14.28-21.465V43.346C77.106,43.044,76.94,42.765,76.68,42.637z M75.492,54.403
			c0,3.765-0.983,7.404-2.752,10.565v-0.002c-0.004,0.017-0.018,0.019-0.018,0.021c-2.313,4.134-5.967,7.492-10.521,9.405h-0.01
			l-2.148,0.917l-1.855-0.813c-7.915-3.451-13.021-11.248-13.026-19.877V43.814l3.457-1.893l0,0l11.484-6.3l15.39,8.197V54.403z"></path>
                            <path display="none" fill="#F6000D" d="M65.646,69.774l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085
			l-3.457,1.893V54.62c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405
			c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,69.774z"></path>
                            <path opacity="0.3" fill="#0E7F44" d="M65.646,69.774l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085
			l-3.457,1.893V54.62c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405
			c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,69.774z"></path>
                            <path fill="#070707" d="M72.74,64.967v0.002c-0.006,0.017-0.018,0.017-0.018,0.02C72.723,64.985,72.736,64.983,72.74,64.967z"></path>
                            <path opacity="0.3" fill="#F6000D" d="M72.74,64.967v0.002c-0.006,0.017-0.018,0.017-0.018,0.02
			C72.723,64.985,72.736,64.983,72.74,64.967z"></path>
                            <polygon fill="#070707" points="48.618,41.922 48.618,41.922 45.161,43.814 45.161,54.62 45.161,43.814 		"></polygon>
                            <polygon opacity="0.3" fill="#F6000D" points="48.618,41.922 48.618,41.922 45.161,43.814 45.161,54.62 45.161,43.814 		"></polygon>
	</g>
</g>
<g id="Layer_3">
</g>
<g id="Layer_4">
</g>
</svg>

                            <p><a class="bghjk" href="/HealthPlan/GetQuoteDetail">Health<br>Insurance</a></p>

                        </div>
                    </div>
                </div>
                <div class="bhnvd col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="ball2" id="ball2" style="margin-left: 0px;">

                        <div class="">
                            <svg id="ticond" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g id="Layer_8">
                            <path d="M61.229,40.378c-3.45,0-6.266,2.795-6.266,6.271c0,3.446,2.815,6.245,6.266,6.245c3.452,0,6.251-2.799,6.251-6.245
		C67.479,43.173,64.681,40.378,61.229,40.378z M61.229,50.395c-2.061,0-3.751-1.688-3.751-3.745c0-2.086,1.69-3.772,3.751-3.772
		c2.063,0,3.751,1.687,3.751,3.772C64.979,48.706,63.291,50.395,61.229,50.395z"></path>
                            <path d="M18.679,40.378c-3.456,0-6.258,2.795-6.258,6.271c0,3.446,2.802,6.245,6.258,6.245c3.451,0,6.258-2.799,6.258-6.245
		C24.938,43.173,22.13,40.378,18.679,40.378z M18.679,50.395c-2.069,0-3.759-1.688-3.759-3.745c0-2.086,1.689-3.772,3.759-3.772
		c2.062,0,3.75,1.687,3.75,3.772C22.429,48.706,20.741,50.395,18.679,50.395z"></path>
                            <path d="M76.245,36.329V30.37c0-0.037-0.054-0.279-0.073-0.363c-0.033-0.075-0.056-0.15-0.085-0.225
		c-0.036-0.037-5.056-7.611-5.056-7.611c-0.194-0.289-0.493-0.485-0.838-0.55c-31.358-5.253-39.394-0.01-39.755,0.241l-9.72,7.295
		L4.81,30.37c-0.448,0.037-0.839,0.311-1.036,0.727c-0.112,0.234-2.769,6.108-0.065,15.876c0.149,0.554,0.641,0.923,1.203,0.923
		h3.753c0.687,0,1.255-0.569,1.255-1.246c0-4.834,3.928-8.771,8.759-8.771s8.758,3.938,8.758,8.771c0,0.677,0.56,1.246,1.25,1.246
		h22.526c0.695,0,1.249-0.569,1.249-1.246c0-4.834,3.936-8.771,8.766-8.771c4.832,0,8.751,3.938,8.751,8.771
		c0,0.677,0.568,1.246,1.252,1.246h3.765c0.447,0,0.862-0.255,1.091-0.644C78.82,42.37,76.853,37.589,76.245,36.329z M69.243,24.009
		l3.411,5.11H59.455l-3.934-6.883C59.467,22.583,64.008,23.134,69.243,24.009z M44.963,21.808c2.191-0.038,4.701,0.028,7.585,0.204
		c0.034,0.076,0.044,0.15,0.075,0.225l3.943,6.883H44.963V21.808L44.963,21.808z M31.887,23.897
		c0.046-0.021,2.675-1.614,10.574-2.015v7.237H24.938L31.887,23.897z M74.224,45.373H72.42c-0.621-5.603-5.407-9.996-11.191-9.996
		c-5.782,0-10.583,4.393-11.19,9.996H29.864c-0.609-5.603-5.403-9.996-11.185-9.996c-5.783,0-10.577,4.393-11.192,9.996H5.873
		c-0.725-2.952-0.896-5.453-0.839-7.495h1.128c0.69,0,1.25-0.564,1.25-1.25c0-0.69-0.56-1.25-1.25-1.25H5.249
		c0.166-1.155,0.39-2.032,0.566-2.566l15.365-1.192h52.568v2.501h-1.251c-0.697,0-1.265,0.567-1.265,1.257
		c0,0.682,0.567,1.25,1.265,1.25h1.251c0,0.215,0.039,0.424,0.158,0.608C73.99,37.399,76.097,41.31,74.224,45.373z"></path>
                            <path fill="#FFFFFF" d="M63.73,46.649c0-1.868-1.368-3.407-3.134-3.705c-1.766,0.298-3.119,1.837-3.119,3.705
		c0,1.841,1.354,3.379,3.119,3.68C62.362,50.028,63.73,48.49,63.73,46.649z"></path>
                            <path fill="#F4F4F4" d="M61.229,42.877c-0.214,0-0.424,0.04-0.632,0.067c1.766,0.298,3.132,1.837,3.132,3.705
		c0,1.841-1.366,3.379-3.132,3.68c0.208,0.021,0.418,0.065,0.632,0.065c2.063,0,3.751-1.688,3.751-3.745
		C64.979,44.563,63.291,42.877,61.229,42.877z"></path>
                            <path fill="#FFFFFF" d="M21.179,46.649c0-1.868-1.359-3.407-3.125-3.705c-1.772,0.298-3.133,1.837-3.133,3.705
		c0,1.841,1.361,3.379,3.133,3.68C19.82,50.028,21.179,48.49,21.179,46.649z"></path>
                            <path fill="#F4F4F4" d="M18.679,42.877c-0.216,0-0.425,0.04-0.625,0.067c1.767,0.298,3.125,1.837,3.125,3.705
		c0,1.841-1.359,3.379-3.125,3.68c0.2,0.021,0.41,0.065,0.625,0.065c2.062,0,3.75-1.688,3.75-3.745
		C22.429,44.563,20.741,42.877,18.679,42.877z"></path>
                            <path fill="#FFFFFF" d="M67.339,23.711c-4.428-0.697-8.371-1.171-11.817-1.475l3.102,5.436h11.356L67.339,23.711z"></path>
                            <g>
                            <path fill="#F4F4F4" d="M58.623,27.672l0.832,1.447L58.623,27.672z"></path>
                            <path fill="#F4F4F4" d="M67.339,23.711L67.339,23.711c0.64,0.103,1.247,0.188,1.904,0.298
			C68.586,23.899,67.979,23.813,67.339,23.711z"></path>
                            <path fill="#F4F4F4" d="M69.243,24.009c-0.657-0.11-1.265-0.197-1.904-0.298l2.641,3.961H58.623l0.832,1.447h13.199L69.243,24.009
			z"></path>
	</g>
                            <path fill="#FFFFFF" d="M50.604,21.908c-2.095-0.098-3.961-0.129-5.642-0.1v5.865h8.945L50.604,21.908z"></path>
                            <g>
                            <path fill="#F4F4F4" d="M50.604,21.908L50.604,21.908c0.623,0.03,1.272,0.063,1.943,0.104
			C51.879,21.969,51.228,21.938,50.604,21.908z"></path>
                            <path fill="#F4F4F4" d="M52.623,22.236c-0.031-0.075-0.041-0.149-0.075-0.225c-0.669-0.042-1.32-0.073-1.943-0.104l3.304,5.765
			h-8.945v1.447h11.604L52.623,22.236z"></path>
	</g>
                            <g>
                            <path fill="#FFFFFF" d="M39.788,22.082c-5.843,0.566-7.858,1.797-7.901,1.813l-5.031,3.777h12.932V22.082L39.788,22.082z"></path>
                            <path fill="#FFFFFF" d="M39.799,22.079c0.411-0.039,0.834-0.076,1.255-0.106C40.632,22.003,40.208,22.04,39.799,22.079z"></path>
	</g>
                            <g>
                            <path fill="#F4F4F4" d="M26.855,27.672l-1.918,1.447L26.855,27.672z"></path>
                            <path fill="#F4F4F4" d="M39.788,22.082L39.788,22.082c0.004,0,0.009-0.003,0.011-0.003C39.796,22.082,39.792,22.082,39.788,22.082
			z"></path>
                            <path fill="#F4F4F4" d="M41.054,21.973c0.46-0.033,0.917-0.064,1.409-0.091C41.971,21.91,41.513,21.94,41.054,21.973z"></path>
                            <path fill="#F4F4F4" d="M41.054,21.973c-0.422,0.03-0.844,0.067-1.255,0.106c-0.002,0-0.007,0.003-0.011,0.003v5.59H26.855
			l-1.917,1.447h17.524v-7.237C41.971,21.91,41.513,21.94,41.054,21.973z"></path>
	</g>
                            <g>
                            <path fill="#D50000" d="M5.521,43.68c-0.052-0.254-0.099-0.533-0.14-0.802C5.422,43.147,5.468,43.425,5.521,43.68z"></path>
                            <path fill="#D50000" d="M7.733,44.034c-0.008,0.05-0.022,0.073-0.03,0.123C7.713,44.107,7.725,44.084,7.733,44.034z"></path>
                            <path fill="#D50000" d="M29.647,44.157c-0.007-0.05-0.017-0.073-0.023-0.124C29.632,44.084,29.642,44.107,29.647,44.157z"></path>
                            <path fill="#D50000" d="M72.205,44.157c-0.018-0.05-0.032-0.073-0.038-0.124C72.175,44.084,72.189,44.107,72.205,44.157z"></path>
                            <path fill="#D50000" d="M50.275,44.034c-0.008,0.05-0.016,0.073-0.021,0.123C50.262,44.107,50.268,44.084,50.275,44.034z"></path>
                            <path fill="#D50000" d="M74.701,44.053c0.954-3.549-0.719-6.674-0.796-6.816c-0.119-0.185-0.158-0.394-0.158-0.608h-1.251
			c-0.697,0-1.265-0.568-1.265-1.25c0-0.69,0.567-1.257,1.265-1.257h1.251v-2.5H21.179L5.814,32.812
			c-0.176,0.534-0.4,1.411-0.566,2.566h0.914c0.69,0,1.25,0.56,1.25,1.25c0,0.686-0.56,1.25-1.25,1.25H5.034
			c-0.042,1.443,0.045,3.1,0.348,4.999h2.69c1.549-4.354,5.716-7.499,10.608-7.499c4.884,0,9.054,3.146,10.6,7.499h21.344
			c1.544-4.354,5.715-7.499,10.606-7.499c4.894,0,9.051,3.146,10.608,7.499h3.092C74.877,43.279,74.8,43.664,74.701,44.053z"></path>
                            <path fill="#D50000" d="M74.224,45.373c0.192-0.389,0.329-0.775,0.434-1.184C74.555,44.598,74.416,44.984,74.224,45.373z"></path>
	</g>
                            <g>
                            <path fill="#B71C1C" d="M74.701,44.053c-0.01,0.055-0.034,0.106-0.046,0.136C74.667,44.159,74.691,44.107,74.701,44.053z"></path>
                            <path fill="#B71C1C" d="M72.42,45.373c-0.051-0.404-0.126-0.822-0.215-1.216C72.296,44.551,72.369,44.969,72.42,45.373z"></path>
                            <path fill="#B71C1C" d="M71.837,42.877c0.12,0.369,0.239,0.771,0.33,1.156C72.078,43.647,71.957,43.246,71.837,42.877
			L71.837,42.877z"></path>
                            <path fill="#B71C1C" d="M74.701,44.053c0.099-0.389,0.174-0.772,0.228-1.176h-3.092c0.12,0.369,0.243,0.771,0.33,1.156
			c0.008,0.051,0.022,0.074,0.038,0.124c0.089,0.394,0.164,0.812,0.215,1.216h1.806c0.19-0.389,0.329-0.775,0.432-1.184
			C74.667,44.159,74.691,44.107,74.701,44.053z"></path>
                            <path fill="#B71C1C" d="M5.382,42.877L5.382,42.877L5.382,42.877z"></path>
                            <path fill="#B71C1C" d="M5.873,45.373c-0.145-0.589-0.251-1.133-0.352-1.693C5.618,44.237,5.729,44.784,5.873,45.373z"></path>
                            <path fill="#B71C1C" d="M7.703,44.157c-0.087,0.394-0.165,0.812-0.216,1.216C7.538,44.969,7.613,44.549,7.703,44.157z"></path>
                            <path fill="#B71C1C" d="M8.071,42.877L8.071,42.877c-0.128,0.369-0.247,0.771-0.338,1.157C7.831,43.648,7.943,43.246,8.071,42.877
			z"></path>
                            <path fill="#B71C1C" d="M5.382,42.877c0.041,0.27,0.088,0.548,0.14,0.801c0.1,0.562,0.207,1.106,0.352,1.694h1.614
			c0.05-0.404,0.128-0.823,0.216-1.216c0.01-0.051,0.022-0.072,0.03-0.123c0.091-0.386,0.21-0.787,0.338-1.157L5.382,42.877
			L5.382,42.877z"></path>
                            <path fill="#B71C1C" d="M29.864,45.373c-0.045-0.404-0.121-0.822-0.217-1.216C29.746,44.551,29.819,44.969,29.864,45.373z"></path>
                            <path fill="#B71C1C" d="M29.279,42.877c0.136,0.369,0.248,0.771,0.346,1.156C29.528,43.647,29.415,43.246,29.279,42.877
			L29.279,42.877z"></path>
                            <path fill="#B71C1C" d="M50.622,42.877L50.622,42.877c-0.137,0.369-0.243,0.771-0.347,1.157
			C50.383,43.648,50.485,43.246,50.622,42.877z"></path>
                            <path fill="#B71C1C" d="M50.254,44.157c-0.087,0.394-0.164,0.812-0.216,1.216C50.09,44.969,50.163,44.549,50.254,44.157z"></path>
                            <path fill="#B71C1C" d="M29.624,44.033c0.007,0.051,0.017,0.074,0.023,0.124c0.095,0.394,0.171,0.812,0.217,1.216h20.174
			c0.052-0.404,0.127-0.822,0.216-1.216c0.006-0.05,0.014-0.073,0.021-0.123c0.104-0.386,0.21-0.788,0.347-1.157H29.279
			C29.415,43.246,29.528,43.647,29.624,44.033z"></path>
	</g>
</g>
<g id="Layer_2">
                            <g>
                            <path fill="#F6000D" d="M62.2,75.397h-0.009l-2.149,0.917l-1.854-0.813l1.855,0.813l2.148-0.917H62.2
			c4.556-1.913,8.209-5.271,10.522-9.405C70.354,70.216,66.649,73.518,62.2,75.397z"></path>
                            <path fill="#FFFFFF" d="M44.018,44.687l0.593,13.86c0.008,8.624,7.706,15.016,15.615,18.479l3.276-1.782
			c0,0,5.329-3.217,7.352-5.261c1.769-3.171,5.226-10.811,5.226-14.575l-0.587-10.584l-15.39-8.197L44.018,44.687z"></path>
                            <path opacity="0.8" fill="#160707" d="M76.68,43.641l-16.198-8.637c-0.245-0.128-0.527-0.124-0.771,0.008l-15.744,8.629
			c-0.265,0.133-0.419,0.411-0.419,0.709v11.274c0.008,9.26,5.497,17.646,13.991,21.367l2.19,0.949c0.199,0.079,0.431,0.079,0.639,0
			l2.459-1.068c8.652-3.637,14.278-12.094,14.28-21.465V44.35C77.106,44.048,76.94,43.769,76.68,43.641z M75.492,55.407
			c0,3.765-0.983,7.404-2.752,10.565v-0.002c-0.004,0.017-0.018,0.019-0.018,0.021c-2.313,4.134-5.967,7.492-10.521,9.405h-0.01
			l-2.148,0.917l-1.855-0.813c-7.915-3.451-13.021-11.248-13.026-19.877V44.818l3.457-1.893l0,0l11.484-6.3l15.39,8.197V55.407z"></path>
                            <path display="none" fill="#F6000D" d="M65.646,70.778l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085
			l-3.457,1.893v10.806c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405
			c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,70.778z"></path>
                            <path opacity="0.3" fill="#0E7F44" d="M65.646,70.778l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085
			l-3.457,1.893v10.806c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405
			c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,70.778z"></path>
                            <path fill="#070707" d="M72.74,65.971v0.002c-0.006,0.017-0.018,0.017-0.018,0.02C72.723,65.989,72.736,65.987,72.74,65.971z"></path>
                            <path opacity="0.3" fill="#F6000D" d="M72.74,65.971v0.002c-0.006,0.017-0.018,0.017-0.018,0.02
			C72.723,65.989,72.736,65.987,72.74,65.971z"></path>
                            <polygon fill="#070707" points="48.618,42.926 48.618,42.926 45.161,44.818 45.161,55.624 45.161,44.818 		"></polygon>
                            <polygon opacity="0.3" fill="#F6000D" points="48.618,42.926 48.618,42.926 45.161,44.818 45.161,55.624 45.161,44.818 		"></polygon>
	</g>
</g>
<g id="Layer_3">
</g>
<g id="Layer_4">
</g>
</svg>

                            <p><a href="#">Car<br>Insurance</a></p>

                            <span style="display: block; font-size: 9px; text-align: center; position: relative; right: 11px; top: 1.6rem; color: #2e5ba6;">Coming Soon</span>
                        
                        </div>
                    </div>
                </div>

                <div class="bhnvd col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="ball3" id="ball3" style="margin-left: 0px;">
                        <div class="">

                            <svg id="ticond" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g id="Layer_10">
                            <path opacity="0.5" fill="#A4C4E7" d="M49.445,43.206v-0.019c-0.14-1.174-0.476-2.313-1.009-3.372
		c-1.757-3.605-5.413-5.894-9.421-5.894c-4.01,0-7.668,2.288-9.419,5.894c-0.534,1.063-0.871,2.209-0.99,3.391
		c-0.06,0.4-0.09,0.81-0.09,1.214v15.002c0,0.823,0.67,1.5,1.5,1.5h17.999c0.825,0,1.5-0.677,1.5-1.5V44.42
		C49.512,44.017,49.492,43.608,49.445,43.206z M40.517,47.419c0,0.828-0.67,1.501-1.501,1.501c-0.829,0-1.5-0.673-1.5-1.501V37.071
		c0.99-0.2,2.009-0.2,3.001,0V47.419z"></path>
                            <path fill="#FFFFFF" d="M45.379,46.826v-0.011c-0.072-0.649-0.261-1.287-0.556-1.87c-0.977-2.001-3.003-3.267-5.225-3.267
		s-4.25,1.266-5.22,3.267c-0.297,0.584-0.484,1.228-0.551,1.881c-0.033,0.224-0.05,0.442-0.05,0.673v8.315
		c0,0.457,0.375,0.829,0.835,0.829h9.976c0.456,0,0.83-0.372,0.83-0.829v-8.315C45.414,47.269,45.405,47.05,45.379,46.826z
		 M40.432,49.159c0,0.462-0.374,0.83-0.834,0.83c-0.456,0-0.83-0.368-0.83-0.83v-5.736c0.548-0.108,1.113-0.108,1.664,0V49.159z"></path>
                            <path fill="#D50000" d="M54.016,32.42c0.008,4.064-1.646,7.953-4.57,10.767c-0.14-1.174-0.476-2.313-1.009-3.372
		c-1.757-3.605-5.413-5.894-9.421-5.894c-4.01,0-7.668,2.288-9.419,5.894c-0.534,1.063-0.871,2.209-0.99,3.391
		c-2.938-2.815-4.602-6.716-4.591-10.786c0.01-4.897,2.399-9.483,6.406-12.299c0.309,0.975,0.786,1.889,1.41,2.701
		c1.692,2.265,4.357,3.599,7.185,3.599c2.828,0,5.493-1.334,7.187-3.599c0.619-0.812,1.097-1.726,1.41-2.701
		C51.617,22.938,54.006,27.523,54.016,32.42z"></path>
                            <path fill="#FFFFFF" d="M45.361,18.167c0,3.177-2.517,5.751-5.614,5.751c-3.101,0-5.614-2.574-5.614-5.751
		c0-3.174,2.514-5.75,5.614-5.75C42.845,12.417,45.361,14.993,45.361,18.167z"></path>
                            <path d="M49.516,44.42c-0.003-0.42-0.026-0.839-0.08-1.255c3.225-3.101,4.887-7.486,4.532-11.947
		c-0.354-4.458-2.695-8.523-6.378-11.069c0.744-2.333,0.504-4.868-0.665-7.018l4.715-4.711h9.875c0.829,0,1.501-0.671,1.501-1.5
		c0-0.83-0.672-1.5-1.501-1.5H51.016c-0.398,0-0.775,0.158-1.058,0.438l-4.908,4.905c-3.417-3.126-8.652-3.126-12.069,0
		l-4.903-4.905c-0.282-0.28-0.664-0.438-1.062-0.438h-10.5c-0.829,0-1.5,0.67-1.5,1.5c0,0.829,0.672,1.5,1.5,1.5h9.878l4.711,4.711
		c-1.171,2.149-1.408,4.685-0.663,7.018c-3.678,2.546-6.021,6.611-6.38,11.069c-0.357,4.46,1.307,8.846,4.535,11.947
		c-0.051,0.416-0.079,0.835-0.081,1.255v9.001h-7.501c-0.83,0-1.498,0.672-1.498,1.501c0,0.826,0.668,1.5,1.498,1.5h7.501v3
		c0,0.823,0.67,1.5,1.5,1.5h2.999V71.42c0,3.313,2.685,6.001,6,6.001c3.314,0,5.999-2.688,5.999-6.001V60.922h3.001
		c0.825,0,1.5-0.677,1.5-1.5v-3V44.42z M39.016,11.422c3.314,0,5.999,2.685,5.999,5.999c0,3.315-2.685,6.001-5.999,6.001
		c-3.315,0-6-2.686-6-6.001C33.016,14.107,35.7,11.422,39.016,11.422z M27.016,32.42c0.006-3.78,1.79-7.335,4.816-9.598
		c1.692,2.266,4.356,3.6,7.184,3.6c2.828,0,5.492-1.334,7.185-3.6c2.589,1.926,4.29,4.824,4.711,8.024
		c0.424,3.203-0.47,6.439-2.473,8.974c-1.756-3.608-5.413-5.898-9.423-5.898c-4.012,0-7.671,2.29-9.423,5.898
		C27.923,37.715,27.017,35.107,27.016,32.42z M42.017,71.42c0,1.658-1.346,3-3.001,3c-1.654,0-3-1.342-3-3V60.922h6.001V71.42z
		 M46.516,57.922H31.517V44.42c0.004-3.562,2.508-6.632,5.999-7.349v10.348c0,0.828,0.671,1.501,1.5,1.501
		c0.831,0,1.501-0.673,1.501-1.501V37.071c3.491,0.717,5.993,3.787,5.999,7.349V57.922z"></path>
</g>
<g id="Layer_11">
</g>
<g id="Layer_2">
                            <g>
                            <path fill="#F6000D" d="M62.2,75.397h-0.009l-2.149,0.917l-1.854-0.813l1.855,0.813l2.148-0.917H62.2
			c4.556-1.913,8.209-5.271,10.522-9.405C70.354,70.216,66.649,73.518,62.2,75.397z"></path>
                            <path fill="#FFFFFF" d="M44.018,44.687l0.593,13.86c0.008,8.624,7.706,15.016,15.615,18.479l3.276-1.782
			c0,0,5.329-3.217,7.352-5.261c1.769-3.171,5.226-10.811,5.226-14.575l-0.587-10.584l-15.39-8.197L44.018,44.687z"></path>
                            <path opacity="0.8" fill="#160707" d="M76.68,43.641l-16.198-8.637c-0.245-0.128-0.527-0.124-0.771,0.008l-15.744,8.629
			c-0.265,0.133-0.419,0.411-0.419,0.709v11.274c0.008,9.26,5.497,17.646,13.991,21.367l2.19,0.949c0.199,0.079,0.431,0.079,0.639,0
			l2.459-1.068c8.652-3.637,14.278-12.094,14.28-21.465V44.35C77.106,44.048,76.94,43.769,76.68,43.641z M75.492,55.407
			c0,3.765-0.983,7.404-2.752,10.565v-0.002c-0.004,0.017-0.018,0.019-0.018,0.021c-2.313,4.134-5.967,7.492-10.521,9.405h-0.01
			l-2.148,0.917l-1.855-0.813c-7.915-3.451-13.021-11.248-13.026-19.877V44.818l3.457-1.893l0,0l11.484-6.3l15.39,8.197V55.407z"></path>
                            <path display="none" fill="#F6000D" d="M65.646,70.778l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085
			l-3.457,1.893v10.806c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405
			c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,70.778z"></path>
                            <path opacity="0.3" fill="#0E7F44" d="M65.646,70.778l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085
			l-3.457,1.893v10.806c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405
			c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,70.778z"></path>
                            <path fill="#070707" d="M72.74,65.971v0.002c-0.006,0.017-0.018,0.017-0.018,0.02C72.723,65.989,72.736,65.987,72.74,65.971z"></path>
                            <path opacity="0.3" fill="#F6000D" d="M72.74,65.971v0.002c-0.006,0.017-0.018,0.017-0.018,0.02
			C72.723,65.989,72.736,65.987,72.74,65.971z"></path>
                            <polygon fill="#070707" points="48.618,42.926 48.618,42.926 45.161,44.818 45.161,55.624 45.161,44.818 		"></polygon>
                            <polygon opacity="0.3" fill="#F6000D" points="48.618,42.926 48.618,42.926 45.161,44.818 45.161,55.624 45.161,44.818 		"></polygon>
	</g>
</g>
<g id="Layer_3">
</g>
<g id="Layer_4">
</g>
</svg>


                            <p><a href="#">Two wheeler<br>Insurance</a></p>
                            <span style="display: block; font-size: 9px; text-align: center; position: relative; right: 0px; left: 0; top: 1.6rem; color: #2e5ba6; ">Coming Soon</span>
                        </div>
                    </div>
                </div>
                <div class="bhnvd col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="ball4" id="ball4" style="margin-top: 0px;">

                        <div class="">

                            <svg id="ticond" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g id="Layer_18">
                            <path fill="#FFCFAB" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M33.248,20.219   c0.908-0.434,1.939-0.676,3.027-0.676c1.347,0,2.597,0.373,3.66,1.017c3.157-1.136,5.403-4.045,5.403-7.456   c0-4.4-3.729-7.968-8.341-7.968c-4.6,0-8.329,3.567-8.329,7.968C28.667,16.214,30.532,18.906,33.248,20.219z"></path>
                            <path opacity="0.1" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" enable-background="new    " d="M33.248,20.219   c0.908-0.43,1.932-0.674,3.016-0.676c-2.078-1.45-3.427-3.793-3.427-6.439c0-3.709,2.654-6.83,6.245-7.717   c-0.665-0.163-1.364-0.251-2.084-0.251c-4.6,0-8.33,3.567-8.33,7.968C28.667,16.214,30.532,18.906,33.248,20.219z"></path>
                            <path fill="#D50000" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M45.158,11.444V9.514   c0-3.377-2.869-6.113-6.393-6.113h-3.709c-3.528,0-6.388,2.736-6.388,6.113v1.931H45.158z"></path>
                            <g opacity="0.1">
                            <path stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M39.003,3.406C38.917,3.404,38.842,3.4,38.765,3.4h-3.709    c-3.528,0-6.388,2.736-6.388,6.113v1.931h4.186V9.514C32.853,6.216,35.583,3.525,39.003,3.406z"></path>
	</g>
                            <path opacity="0.4" fill="#34A1D7" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M50.746,56.322   c-0.256-1.596-1.274-3.512-2.468-4.648l-5.976-5.717h-5.429v4.191l6.488,6.211c0.18,0.186,0.479,0.742,0.539,0.982l2.536,15.746   c0.126-0.242,0.382-0.402,0.678-0.402h6.282L50.746,56.322z"></path>
                            <path opacity="0.1" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" enable-background="new    " d="M47.227,57.342   c-0.049-0.24-0.34-0.797-0.521-0.982l-9.833-9.408v3.197l6.488,6.211c0.18,0.186,0.479,0.742,0.539,0.982l2.538,15.746   c0.124-0.242,0.38-0.402,0.676-0.402h2.604L47.227,57.342z"></path>
                            <path fill="#08375E" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M56.072,75.279   c0,0.402-0.352,0.73-0.764,0.73h-8.194c-0.426,0-0.764-0.328-0.764-0.73v-1.863c0-0.398,0.338-0.73,0.764-0.73h8.194   c0.412,0,0.764,0.332,0.764,0.73V75.279z"></path>
                            <path opacity="0.4" fill="#34A1D7" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M29.933,45.957v6.404   c-0.016,0.252-0.218,0.842-0.359,1.047L18.138,68.359l0.012,0.012c0.255-0.164,0.595-0.166,0.861,0.008l5.103,3.414l11.062-14.467   c1-1.301,1.698-3.343,1.698-4.959v-6.41H29.933L29.933,45.957L29.933,45.957z"></path>
                            <path opacity="0.1" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" enable-background="new    " d="M33.235,45.957   h-3.302v6.404c-0.016,0.252-0.218,0.842-0.359,1.047L18.138,68.359l0.012,0.012c0.255-0.164,0.595-0.166,0.861,0.008l5.103,3.414   l0.414-0.539l-3.081-2.16l11.438-14.951c0.144-0.205,0.346-0.793,0.351-1.049V45.957z"></path>
                            <path fill="#08375E" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M24.79,75.412   c-0.24,0.324-0.719,0.408-1.061,0.182l-6.712-4.51c-0.341-0.215-0.428-0.688-0.186-1.006l1.113-1.527   c0.241-0.326,0.72-0.404,1.065-0.172l6.708,4.492c0.347,0.232,0.429,0.688,0.19,1.006L24.79,75.412z"></path>
                            <path fill="#CB7C52" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M29.442,26.078   c0-0.83,0.165-1.621,0.46-2.352c-0.356-0.471-0.936-0.782-1.588-0.782h-5.688c-1.08,0-1.964,0.846-1.964,1.878v9.094   c0.188-0.057,0.384-0.087,0.589-0.087h2.55c1.078,0,1.962,0.845,1.962,1.877v6.942c0,0.613-0.313,1.159-0.794,1.503h3.345   c0.421,0,0.81-0.129,1.128-0.346V26.078L29.442,26.078z"></path>
                            <g opacity="0.1">
                            <path stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M21.252,33.829h2.55c0.409,0,0.79,0.121,1.105,0.33    v-9.336c0-1.032,0.884-1.878,1.963-1.878h-4.244c-1.08,0-1.964,0.846-1.964,1.878v9.094C20.85,33.859,21.046,33.829,21.252,33.829    z"></path>
	</g>
                            <path fill="#D50000" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M43.108,45.957V26.078   c0-3.609-3.06-6.534-6.833-6.534c-3.772,0-6.833,2.925-6.833,6.534v19.879H43.108L43.108,45.957z"></path>
                            <path opacity="0.1" fill="#FFFFFF" d="M40.457,45.957V33.792c0-2.209-1.871-4-4.182-4c-2.31,0-4.181,1.791-4.181,4v12.165H40.457   L40.457,45.957z"></path>
                            <g opacity="0.1">
                            <path stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M37.945,19.74c-0.533-0.128-1.095-0.196-1.67-0.196    c-3.772,0-6.833,2.925-6.833,6.534v19.879h3.339V26.078C32.782,23.02,34.978,20.451,37.945,19.74z"></path>
	</g>
                            <path fill="#AB5436" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M40.287,33.128l-0.373-0.357   c-1.71,1.235-3.839,1.967-6.146,1.967c-1.545,0-3.009-0.331-4.326-0.918v3.947c1.317,0.583,2.78,0.915,4.326,0.915   c3.47,0,6.541-1.657,8.385-4.188C41.446,34.085,40.809,33.623,40.287,33.128z"></path>
                            <path fill="#D50000" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M57.831,31.708   c0-0.188,0.083-0.354,0.2-0.483h-9.977c-1.206,0-3.229-0.802-4.084-1.619l-4.082-3.899c-1.018-0.974-2.662-0.974-3.681,0   c-1.021,0.972-1.021,2.548,0,3.521l4.078,3.901c1.835,1.753,5.186,3.075,7.768,3.075h9.776V31.708L57.831,31.708z"></path>
                            <path opacity="0.1" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" enable-background="new    " d="M57.831,33.859   h-8.898c-2.596,0-5.931-1.321-7.771-3.076l-4.075-3.902c-0.393-0.371-0.628-0.831-0.72-1.313c-0.055,0.043-0.105,0.087-0.159,0.137   c-1.021,0.972-1.021,2.548,0,3.521l4.078,3.901c1.835,1.753,5.186,3.075,7.768,3.075h9.776V33.859L57.831,33.859z"></path>
                            <path fill="#FFCFAB" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M62.694,36.635   c0,0.403-0.34,0.73-0.764,0.73h-3.335c-0.412,0-0.765-0.327-0.765-0.73v-4.928c0-0.404,0.353-0.73,0.765-0.73h3.335   c0.424,0,0.764,0.327,0.764,0.73V36.635z"></path>
                            <path fill="#FFBB4A" stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M25.764,42.648   c0,1.031-0.884,1.876-1.962,1.876h-2.55c-1.079,0-1.962-0.845-1.962-1.876v-6.942c0-1.032,0.883-1.877,1.962-1.877h2.55   c1.078,0,1.962,0.845,1.962,1.877V42.648L25.764,42.648z"></path>
                            <g opacity="0.1">
                            <path stroke="#000000" stroke-width="1.4568" stroke-miterlimit="10" d="M21.795,42.648v-6.942c0-1.032,0.882-1.877,1.96-1.877    h-2.503c-1.079,0-1.962,0.845-1.962,1.877v6.942c0,1.031,0.883,1.876,1.962,1.876h2.503C22.677,44.524,21.795,43.68,21.795,42.648    z"></path>
	</g>
</g>
<g id="Layer_2">
                            <g>
                            <path fill="#F6000D" d="M62.2,73.397h-0.009l-2.149,0.917l-1.854-0.813l1.855,0.813l2.148-0.917H62.2    c4.556-1.913,8.209-5.271,10.522-9.405C70.354,68.216,66.649,71.518,62.2,73.397z"></path>
                            <path fill="#FFFFFF" d="M44.018,42.687l0.593,13.86c0.008,8.624,7.706,15.016,15.615,18.479l3.276-1.782    c0,0,5.329-3.217,7.352-5.261c1.769-3.171,5.226-10.811,5.226-14.575l-0.587-10.584l-15.39-8.197L44.018,42.687z"></path>
                            <path opacity="0.8" fill="#160707" d="M76.68,41.641l-16.198-8.637c-0.245-0.128-0.527-0.124-0.771,0.008l-15.744,8.629    c-0.265,0.133-0.419,0.411-0.419,0.709v11.274c0.008,9.26,5.497,17.646,13.991,21.367l2.19,0.949c0.199,0.079,0.431,0.079,0.639,0    l2.459-1.068c8.652-3.637,14.278-12.094,14.28-21.465V42.35C77.106,42.048,76.94,41.769,76.68,41.641z M75.492,53.407    c0,3.765-0.983,7.404-2.752,10.565v-0.002c-0.004,0.017-0.018,0.019-0.018,0.021c-2.313,4.134-5.967,7.492-10.521,9.405h-0.01    l-2.148,0.917l-1.855-0.813c-7.915-3.451-13.021-11.248-13.026-19.877V42.818l3.457-1.893l0,0l11.484-6.3l15.39,8.197V53.407z"></path>
                            <path display="none" fill="#F6000D" d="M65.646,68.778l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085    l-3.457,1.893v10.806c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405    c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,68.778z"></path>
                            <path opacity="0.3" fill="#0E7F44" d="M65.646,68.778l-2.145,0.94l-1.861-0.813c-7.91-3.466-13.02-11.272-13.022-19.896v-8.085    l-3.457,1.893v10.806c0.006,8.629,5.111,16.426,13.026,19.877l1.854,0.813l2.149-0.917H62.2c4.449-1.88,8.153-5.182,10.522-9.405    c0-0.003,0.012-0.003,0.018-0.02c-2.023,2.049-4.428,3.686-7.086,4.802L65.646,68.778z"></path>
                            <path fill="#070707" d="M72.74,63.971v0.002c-0.006,0.017-0.018,0.017-0.018,0.02C72.723,63.989,72.736,63.987,72.74,63.971z"></path>
                            <path opacity="0.3" fill="#F6000D" d="M72.74,63.971v0.002c-0.006,0.017-0.018,0.017-0.018,0.02    C72.723,63.989,72.736,63.987,72.74,63.971z"></path>
                            <polygon fill="#070707" points="48.618,40.926 48.618,40.926 45.161,42.818 45.161,53.624 45.161,42.818   "></polygon>
                            <polygon opacity="0.3" fill="#F6000D" points="48.618,40.926 48.618,40.926 45.161,42.818 45.161,53.624 45.161,42.818   "></polygon>
	</g>
</g>
</svg>
                            @*<p><a href="/TravelInsurance/GetQuote">Travel<br>Insurance</a></p>*@
                            <p><a href="#">Travel<br>Insurance</a></p>
                            <span style="display: block; font-size: 9px; text-align: center; position: relative; right: 0px; left: 0; top: 1.6rem; color: #2e5ba6; ">Coming Soon</span>
                        </div>

                    </div>
                </div>


                <div class="bhnvd col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="ball5" id="ball5" style="margin-left: 0px;">

                        <div class="">


                            <svg id="ticond" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
<g id="Layer_9">
</g>
<g id="Layer_2_copy_2">
                            <g>
                            <path fill="#F6000D" d="M42.067,71.966h-0.009l-3.521,1.504l-3.047-1.338l3.049,1.338l3.52-1.504H42.067    c7.466-3.148,13.464-8.643,17.244-15.414C55.435,63.456,49.364,68.872,42.067,71.966z"></path>
                            <path fill="#FFFFFF" d="M12.274,21.626l0.97,22.71c0.008,14.147,12.627,24.622,25.592,30.284l5.371-2.912    c0,0,8.741-5.27,12.041-8.633c2.899-5.182,8.576-17.717,8.576-23.881L63.86,21.846L38.63,8.414L12.274,21.626z"></path>
                            <path opacity="0.8" fill="#160707" d="M65.802,19.91L39.25,5.756c-0.393-0.212-0.863-0.2-1.264,0.018L12.191,19.91    c-0.442,0.216-0.691,0.673-0.691,1.159v18.477c0.008,15.186,9.005,28.932,22.932,35.02l3.593,1.557    c0.324,0.141,0.703,0.141,1.037,0l4.037-1.738c14.172-5.961,23.398-19.822,23.4-35.189V21.069    C66.5,20.578,66.229,20.121,65.802,19.91z M63.86,39.194c0,6.164-1.611,12.145-4.511,17.316v-0.002    c-0.004,0.018-0.038,0.039-0.038,0.043c-3.78,6.771-9.778,12.266-17.243,15.414h-0.01l-3.52,1.504l-3.049-1.338    c-12.972-5.67-21.333-18.43-21.34-32.586V21.841l5.656-3.097l0,0L38.63,8.414l25.23,13.432V39.194z"></path>
                            <path display="none" fill="#F6000D" d="M47.712,64.396l-3.505,1.527l-3.055-1.316c-12.967-5.686-21.333-18.479-21.346-32.615    V18.744l-5.656,3.097v17.705c0.006,14.156,8.368,26.916,21.34,32.586l3.047,1.338l3.521-1.504h0.009    c7.297-3.094,13.367-8.51,17.244-15.414c0-0.004,0.032-0.004,0.038-0.041c-3.321,3.367-7.255,6.031-11.608,7.879L47.712,64.396z"></path>
                            <path opacity="0.3" fill="#17B0FF" d="M47.712,64.396l-3.505,1.527l-3.055-1.316c-12.967-5.686-21.333-18.479-21.346-32.615    V18.744l-5.656,3.097v17.705c0.006,14.156,8.368,26.916,21.34,32.586l3.047,1.338l3.521-1.504h0.009    c7.297-3.094,13.367-8.51,17.244-15.414c0-0.004,0.032-0.004,0.038-0.041c-3.321,3.367-7.255,6.031-11.608,7.879L47.712,64.396z"></path>
                            <path fill="#070707" d="M59.35,56.509v0.002c-0.006,0.037-0.038,0.037-0.038,0.041C59.312,56.548,59.346,56.526,59.35,56.509z"></path>
                            <path opacity="0.3" fill="#F6000D" d="M59.35,56.509v0.002c-0.006,0.037-0.038,0.037-0.038,0.041    C59.312,56.548,59.346,56.526,59.35,56.509z"></path>
                            <polygon fill="#070707" points="19.807,18.744 19.807,18.744 14.15,21.841 14.15,39.546 14.15,21.841   "></polygon>
                            <polygon opacity="0.3" fill="#F6000D" points="19.807,18.744 19.807,18.744 14.15,21.841 14.15,39.546 14.15,21.841   "></polygon>
	</g>
                            <path fill="#5D5D5D" d="M20.923,40.432c0,9.934,8.077,18.002,17.999,18.002c9.927,0,18.001-8.068,18.001-18.002   c0-9.928-8.074-18.003-18.001-18.003C29,22.429,20.923,30.503,20.923,40.432z M38.922,24.801c8.626,0,15.634,7.002,15.634,15.63   c0,8.633-7.008,15.629-15.634,15.629c-8.621,0-15.635-6.996-15.635-15.629C23.287,31.803,30.301,24.801,38.922,24.801z"></path>
                            <g id="Layer_23">
	</g>
                            <g>
                            <path display="none" fill="#FF0000" d="M40,37.85V33h-2v4.85c0,0.633-1.02,1.15-1.67,1.15H32v3h4.33c0.65,0,1.67,0.244,1.67,0.912    V48h2v-5.088C40,42.244,40.742,42,41.396,42H46v-3h-4.604C40.742,39,40,38.482,40,37.85z"></path>
                            <path fill="#d50000" d="M38.644,25.2c-8.48,0-15.356,6.895-15.356,15.399S30.163,56,38.644,56S54,49.104,54,40.6    S47.124,25.2,38.644,25.2z M49,42.912C49,43.55,48.07,44,47.413,44H43v4.924C43,49.58,42.04,50,41.396,50H36.33    C35.68,50,35,49.58,35,48.924V44h-4.568C29.777,44,29,43.55,29,42.912V37.85c0-0.668,0.777-0.85,1.432-0.85H35v-5.057    C35,31.284,35.68,31,36.33,31h5.065C42.04,31,43,31.284,43,31.943V37h4.413C48.07,37,49,37.182,49,37.85V42.912z"></path>
                            <path fill="#5D5D5D" d="M47.413,37H43v-5.057C43,31.284,42.04,31,41.396,31H36.33C35.68,31,35,31.284,35,31.943V37h-4.568    C29.777,37,29,37.182,29,37.85v5.063C29,43.55,29.777,44,30.432,44H35v4.924C35,49.58,35.68,50,36.33,50h5.065    C42.04,50,43,49.58,43,48.924V44h4.413C48.07,44,49,43.55,49,42.912V37.85C49,37.182,48.07,37,47.413,37z M46,42h-4.604    C40.742,42,40,42.244,40,42.912V48h-2v-5.088C38,42.244,36.98,42,36.33,42H32v-3h4.33c0.65,0,1.67-0.518,1.67-1.15V33h2v4.85    c0,0.633,0.742,1.15,1.396,1.15H46V42z"></path>
	</g>
</g>
</svg>


                            <p><a href="#">Other<br>Insurance</a></p>
                            <span style="display: block; font-size: 9px; text-align: center; position: relative; right: 0px;left:0; top: 1.6rem; color: #2e5ba6;">Coming Soon</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        @*<div class="col-xs-12 col-sm-12 col-lg-12">
                <p class="animt">

                    <span>
                        Check Your Premium
                        <div class="first"><button class="toglbutton" type="button"><i class="fa fa-arrow-circle-o-down"></i></button></div>
                    </span>

                </p>

            </div>*@
    </div>



</div>


<style>
    .howwrkrd {
        box-shadow: 1px 3px 8px rgb(206, 211, 214);
        opacity: 0.99;
        background-color: #2d5aa6;
        margin-bottom: 2rem;
        position: relative;
        border-radius: 1px;
        height: 350px;
        border: 1px solid #214279;
    }

        .howwrkrd::after {
            content: url('../Resources/images/up-arrow.png');
            position: absolute;
            top: 23rem;
            right: -27px;
            z-index: 999999999999999;
            display: none;
        }

        .howwrkrd.ghup::after {
            display: none;
        }

    .gohjyu h5 {
        color: #fff;
        text-align: center;
        font-size: 3rem;
        font-family: 'Poppins', sans-serif !important;
        font-weight: bold;
    }

    .howwrkrd .gohjyu {
        height: 100%;
        padding: 0.8rem 2rem;
        color: #fff;
        font-family: 'Poppins', sans-serif !important;
        font-weight: normal;
    }

    .condtainer h3 {
        text-align: center;
        font-size: 5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-family: 'Anton', sans-serif !important;
    }

    .gohjyu p {
        font-size: 13px;
        color: #000;
        text-align: left;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        margin-top: 2rem;
    }

    .seconddf {
        padding-bottom: 3rem;
    }
</style>



<link href="~/Resources/homepage/scroll/animate.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow&display=swap" rel="stylesheet">

<div class="clearfix"></div>

<div onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <section class="second" id="secondwor" style="background:#fff;">

        <div id="fh5co-blog" class="fh5co-bg-section">

            <div class="condtainer" style="padding:0 0% !important">
                <h3>How It Works ?</h3>
                <!-- Inspired by Codyhouse -->
                <div class="container">

                    <div class="col-md-4">
                        <div class="howwrkrd">

                            <div class="gohjyu">
                                <h5 class="highlightedg"><span>Share</span></h5>
                                <div>
                                    <img src="~/Resources/images/imagep1.png" class="img-responsive" />
                                </div>
                                <p>
                                    <div class="arrow"></div> Tell us about yourself.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="howwrkrd">
                            <div class="gohjyu">
                                <h5><span>Compare</span></h5>
                                <div>
                                    <img src="~/Resources/images/imagep3.png" class="img-responsive" />
                                </div>
                                <p>
                                    <div class="arrow"></div>
                                    Compare quotes from leading insurers
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="howwrkrd ghup">
                            <div class="gohjyu">
                                <h5><span>Buy</span></h5>
                                <div>
                                    <img src="~/Resources/images/imagep2.png" class="img-responsive" />
                                </div>
                                <p>
                                    <div class="arrow"></div>
                                    Buy policy of your choice and save your time and money
                                </p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end container experience -->
                <!-- end work experience -->



            </div>


        </div>
        @*<div id="secabt" style="color:#fff;float:left;width:100%;clear:both;font-size:8rem;height:40px;">
            vvvvvvvvvvv sdvzk csvjhds vdlvjdf ndfbfd<br />
            vvvvvvvvvvv sdvzk csvjhds vdlvjdf ndfbfd<br />
            fgegerger <br />
        </div>*@
    </section>

    <section class="seconddf" id="secabt" style="background: #f1fcfe;padding-top: 9rem;padding-bottom: 8rem;">

        <div id="abouts" class="aboutUs" style="background: #fff;">
            <div class="card gridify tiny" style="box-shadow:none;background-image:none;"></div>


            <div class="col-xs-12 col-md-6 col-sm-6">
                <div class="abturd">
                    <h3 class="fhejhfej"><span>About Us</span></h3>
                    <img src="/Resources/images/2668181a.png" class="img-responsive" />

                </div>
            </div>
            <div class="xs-xs-12 col-md-6 col-sm-6" style="padding-left:0rem;padding-right:1rem;">
                <div class="textabfd">

                    <p>
                        There are huge number of insurer in the country, even though finding the right insurance policy remains a big challenge.<br><br>
                        <span class="notesd">Check Your Premium</span> is born to help the individuals take the challenge of finding the right insurance policy with convenient, time saving and pocket friendly manner.<br><br>
                        <span class="notesd">
                            Check Your Premium
                        </span> is an insurance comparison portal serving India, it is developed with an idea to enable you to make the right decision about your choice of insurance.
                        Keeping in mind the individuals various requirement of insurance, checkyourpremium.com helps to find a suitable insurance policy as per their needs in the convenient, time saving and hassle free manner.<br><br>
                        <span class="notesd">Check Your Premium</span> is a world wide web where individual have access to an unbiased comparison and quotation from the leading insurance companies in the India.

                    </p>
                </div>
            </div>

        </div>



        <script src="~/Resources/js/jssor.js"></script>
        <script src="~/Resources/js/jssor.slider.js"></script>
        <script src="~/Resources/js/sliderjs_one.js"></script>

        <script src="~/Resources/js/sliderjs_two.js"></script>






    </section>
    <section class="seconggd" style="background:#2b59a5;">
        <div class="contaiggtner">
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="doxify-sm">
                    <div class="values">
                        <div>
                            <img src="/Resources/images/mission.png">
                        </div>
                        <h5>Our mission</h5>
                        <p style="color:#848484;">

                            Our mission is to offer insurance prospects a seamless, unbiased real time comparison of products offered by different insurers. We will use our technology platform to create the world-class
                            experience for individuals to compare and buy insurance online.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-lg-3">
                <div class="doxify-sm">
                    <div class="values">
                        <div>
                            <img src="/Resources/images/vision.png">
                        </div>
                        <h5>Our Vision</h5>
                        <p style="color:#848484;">
                            Our vision is to become the first choice for online insurance purchase in India and a respected company --
                            as measured by our customers, our employees, our shareholders, and the community we live in.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-6">

                <div class="tgyur" style="float: left;width:100%;">
                    <div class="col-xs-12 col-sm-5 col-lg-5" style="padding-right:0px;padding-left: 0;">
                        <div class="doxify-sm">
                            <div class="values" style="box-shadow: none; border-right: 1px solid #ccc;">
                                <div>
                                    <img src="/Resources/images/value.png" class="timeline-img-thumbnail">
                                </div>
                                <h5>Our Values</h5>
                                <p style="color:#848484;">
                                    Our values are critical to our success. They are the strong foundation of Check Your Premium,
                                    define who we are, and set us apart from our competitors. They underlie our vision of the future.
                                    These values include:
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7" style="padding-left:0px; padding-right:0px;">
                        <ul class="timeline">
                            <li class="timeline-event">
                                <label class="timeline-event-icon"></label>
                                <div class="timeline-event-copy">
                                    @*<p class="timeline-event-thumbnail">April 2011 - heute</p>*@
                                    <h3 class="timeline-event-thumbnail">Performance excellence</h3>
                                    <p>  We act like responsible owners, always seeking to meet or exceed expectations.</p>
                                </div>
                            </li>
                            <li class="timeline-event">
                                <label class="timeline-event-icon"></label>
                                <div class="timeline-event-copy">
                                    @*<p class="timeline-event-thumbnail">November 2009 - März 2011</p>*@
                                    <h3 class="timeline-event-thumbnail">Teamwork</h3>
                                    <p>We act as a team, committed to each other, and bound by trust and loyalty.</p>
                                </div>
                            </li>
                            <li class="timeline-event">
                                <label class="timeline-event-icon"></label>
                                <div class="timeline-event-copy">
                                    @*<p class="timeline-event-thumbnail">April 2011 - heute</p>*@
                                    <h3 class="timeline-event-thumbnail">Integrity</h3>
                                    <p>
                                        We treat one another, and all our stakeholders with dignity and respect. Honesty, ethical behavior and integrity
                                        are fundamental characteristics of our business conduct.
                                    </p>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="seconddf" style="background: #f1fcfe;">
        <div class="containyer" style="padding: 0% !important;">
            <p class="animt3">
                <span>
                    Our Partners
                </span>

            </p>

            <style>
                .jsrSlrdf div {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background: #fff;
                }


                .jsrSlrdf img {
                    height: 100%;
                    width: 100% !important;
                }
            </style>

            <div class="rowg">
                <div class="coluumd2" style="text-align: justify;">
                    <div id="slider1_container" style="margin:0 auto;position: relative; top: 0px; left: 0px; right:0px; margin-bottom:15px; width: 1337px; height: 85px; overflow: hidden; ">
                        <!-- Slides Container -->
                        <div class="jsrSlrdf" data-u="slides" style="cursor: move; position: absolute; left: 0px; right:0px; top: 0px; width: 1337px; height: 85px; overflow: hidden;">


                            <div>
                                <img src="~/Resources/images/bajaj General.PNG" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Bharti Axa .jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Edelweiss GI logo 01.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/HDFC-Ergo-logo.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/SBI GEneral.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/starrst.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/aegon.png" />
                            </div>

                            <div>
                                <img src="~/Resources/images/indiaFirst5.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/download.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/qe.jpg" />
                            </div>




                            <div>
                                <img src="~/Resources/images/bajaj General.PNG" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Bharti Axa .jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Edelweiss GI logo 01.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/HDFC-Ergo-logo.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/SBI GEneral.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/starrst.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/aegon.png" />
                            </div>

                            <div>
                                <img src="~/Resources/images/indiaFirst5.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/download.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/qe.jpg" />
                            </div>
                        </div>
                        <!-- Trigger -->
                        <script>
                            jssor_slider1_starter('slider1_container');
                        </script>

                    </div>

                    <div id="slider2_container" style="margin:0 auto;background:#fff; position: relative; top: 0px; left: 0px; right:0px; width: 1337px; height: 85px; overflow: hidden; ">
                        <!-- Slides Container -->
                        <div class="jsrSlrdf" data-u="slides" style="background:#fff; cursor: move; position: absolute; left: 0px; right:0px; top: 0px; width: 1337px; height:85px; overflow: hidden;">

                            <div>
                                <img src="~/Resources/images/bajaj General.PNG" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Bharti Axa .jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Edelweiss GI logo 01.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/HDFC-Ergo-logo.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/SBI GEneral.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/starrst.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/aegon.png" />
                            </div>

                            <div>
                                <img src="~/Resources/images/indiaFirst5.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/download.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/qe.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/bajaj General.PNG" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Bharti Axa .jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/Edelweiss GI logo 01.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/HDFC-Ergo-logo.png" />
                            </div>
                            <div>
                                <img src="~/Resources/images/SBI GEneral.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/starrst.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/aegon.png" />
                            </div>

                            <div>
                                <img src="~/Resources/images/indiaFirst5.jpg" />
                            </div>

                            <div>
                                <img src="~/Resources/images/download.jpg" />
                            </div>


                            <div>
                                <img src="~/Resources/images/qe.jpg" />
                            </div>
                        </div>
                        <!-- Trigger -->
                        <script>
                            jssor_slider2_starter('slider2_container');
                        </script>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<style>
    .highlighted {
        background: none !important;
    }

        .highlighted p a {
            color: #000 !important;
        }

    svg {
        filter: drop-shadow(0px 0px 0px #333) !important;
    }
</style>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
@*<script>
        $(function () {
            var lis = $(".mhasjc > div > div >div"),
                currentHighlight = 0;
            N = 5;//interval in seconds
            setInterval(function () {
                currentHighlight = (currentHighlight + 1) % lis.length;
                lis.removeClass('highlighted').eq(currentHighlight).addClass('highlighted');
            }, N * 1000);
        });
    </script>*@

<script>
    $(function () {
        var lis = $(".mhabox > div > div >div"),
            currentHighlight = 0;
        N = 5;//interval in seconds
        setInterval(function () {
            currentHighlight = (currentHighlight + 1) % lis.length;
            lis.removeClass('highlig').eq(currentHighlight).addClass('highlig');
        }, N * 1000);
    });
</script>



<script>
    $(function () {
        var lis = $(".howwrkrd > div > h5"),
            currentHighlight = 0;
        N = 5;//interval in seconds
        setInterval(function () {
            currentHighlight = (currentHighlight + 1) % lis.length;
            lis.removeClass('highlightedg').eq(currentHighlight).addClass('highlightedg');
        }, N * 1000);
    });
</script>





<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 20,
        nav: true,
        navText: [
          "<i class='fa fa-caret-left'></i>",
          "<i class='fa fa-caret-right'></i>"
        ],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>


<script>
    $(".button2").click(function () {
        $('html,body').animate({
            scrollTop: $("#secondwor").offset().top,
            scrollTop: "700px"

        }, 'slow');


    }


    );

    $(".button3").click(function () {
        $('#secabt').animate({

            scrollTop: $("#secabt").offset().top,
            scrollTop: "1110px"
        },
            'slow');

    });

    $(".button4").click(function () {
        $('html,body').animate({

            scrollTop: $(".foo_top_header_one").offset().top,

        },
            'slow');
    });
</script>





<script src="~/Resources/homepage/JiSlider.js"></script>
<script>
    $(window).load(function () {
        $('#JiSlider').JiSlider({ color: '#fff', start: 3, reverse: true }).addClass('ff')
    })
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<
<script src="~/Resources/homepage/scroll/animate_on_scroll.js"></script>
