
@{
    ViewBag.Title = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  
    footer {
        display: none;
    }


    .logod {
        float: left;
        margin-left: 28px;
        font-size: 1.5em;
        height: 60px;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 80px !important;
    }


    .logod img {
        width: 100%;
    }

    #navbar {
        position: relative;
    }
</style>
@*<input value="@ViewData["policyNo"].ToString()" />*@
<h2>Payment Status Fail</h2>
